.divider {
	margin-top: 24px;
	margin-bottom: 16px;
}

.title {
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#group-detail-container {
	width: 500px;

	@media (max-width: 1200px) {
		width: 100%;
	}
}

.members-heading {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.member-list {
	display: grid;
	grid-template-rows: repeat();
	row-gap: 8px;
	margin-bottom: 16px;
}

.member-card {
	padding-top: 8px!important;
	padding-bottom: 8px!important;
}

.card-title {
	font-size: 16px;

	.member-menu-btn {
		margin-top: 3px;
		position: absolute;
		right: 0;	
	}
}

#assessments {

	table {
		margin-top: -8px;
	}

	.score-column {
		text-align: center;
	}

}

.history-item {
	font-size: 14px!important;

	mat-icon, .timestamp {
		margin-right: 8px;
	}
}

#group-history {
	margin-bottom: 16px;

	.history-list {
		margin-top: -8px;
	}
}

