.divider {
	margin-top: 24px;
	margin-bottom: 16px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.left {
		mat-icon {
			padding-bottom: 4px;
			vertical-align: middle;
		}
	}
}

#group-detail-container {
	width: 500px;

	@media (max-width: 1200px) {
		width: 100%;
	}
}

.members-heading {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.member-list {
	display: grid;
	grid-template-rows: repeat();
	row-gap: 8px;
	margin-bottom: 16px;
}

.member-card {
	padding-top: 0px!important;
	padding-bottom: 0!important;
}

.card-title {
	font-size: 16px;
	margin-bottom: -16px;

	.member-menu-btn {
		margin-right: -16px;	
	}
}

#assessments {

	table {
		margin-top: -8px;
	}

	.score-column {
		text-align: center;
	}

}

.history-item {
	font-size: 14px!important;

	mat-icon, .timestamp {
		margin-right: 8px;
	}
}

#group-history {
	margin-bottom: 16px;

	.history-list {
		margin-top: -8px;
	}
}

