.divider {
	margin-top: 24px;
	margin-bottom: 16px;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#group-detail-container {
	width: 500px;

	@media (max-width: 1200px) {
		width: 100%;
	}
}

.members-heading {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.member-list {
	display: grid;
	grid-template-rows: repeat();
	row-gap: 8px;
	margin-bottom: 16px;
}

.member-card {
	padding-bottom: 0!important;
}

.card-title {
	font-size: 16px;
	margin-bottom: -16px;

	.member-menu-btn {
		margin-right: -16px;	
	}
}

#assessments {

	table {
		margin-top: -8px;
		margin-bottom: 16px;
	}
}

.history-item {
	font-size: 14px!important;
	background-color: rgb(240, 240, 240);

	span {
		color: black;
	}

	mat-icon, .timestamp {
		margin-right: 8px;
	}
}

.green { background-color: rgb(230, 255, 230); }
.red { background-color: rgb(255, 220, 220); }

#group-history {
	margin-bottom: 16px;

	.history-list {
		margin-top: -8px;
	}
}

