<div id="assessment-overview-container" *ngIf="assignment$ | async as assignment">
	<nav mat-tab-nav-bar color="accent">
		<a
			mat-tab-link
			[routerLink]="['/courses', courseId, 'assignments', assignment.id, 'assessments']"
			routerLinkActive
			#rla1="routerLinkActive"
			[active]="rla1.isActive && !(rla2.isActive || rla3.isActive || rla4.isActive)"
			[routerLinkActiveOptions]="{ exact: false }"
		>
			{{ "Domain.Assessments" | translate }}
		</a>
		<a
			mat-tab-link
			routerLink="registrations"
			routerLinkActive
			#rla2="routerLinkActive"
			[active]="rla2.isActive"
			[ngStyle]="{ display: assignment.collaboration === 'SINGLE' ? 'none' : undefined }"
		>
			{{ "Domain.RegisteredGroups" | translate }}
		</a>
		<a
			mat-tab-link
			routerLink="submissions"
			routerLinkActive
			#rla3="routerLinkActive"
			[active]="rla3.isActive"
		>
			{{ "Domain.Submissions" | translate }}
		</a>
		<a
			mat-tab-link
			routerLink="allocations"
			routerLinkActive
			#rla4="routerLinkActive"
			[active]="rla4.isActive"
		>
			{{ "Domain.AssessmentAllocations" | translate }}
		</a>
	</nav>

	<div class="py-8">
		<student-mgmt-title [title]="assignment.name"></student-mgmt-title>
		<router-outlet></router-outlet>
	</div>
</div>
