<div class="flex flex-col" data-test="participantsListComponent">
	<student-mgmt-title [title]="'Domain.Participants' | translate">
		<div class="flex gap-2">
			<button
				*ngIf="(participant.participant$ | async)?.role === 'LECTURER'"
				mat-flat-button
				color="accent"
				(click)="openAddParticipantDialog()"
				data-test="addParticipantButton"
			>
				<student-mgmt-icon name="add"></student-mgmt-icon>
				{{ "Action.Custom.AddParticipant" | translate }}
			</button>
			<button mat-stroked-button (click)="exportToExcel()">Export</button>
		</div>
	</student-mgmt-title>

	<div>
		<div class="filter">
			<div class="flex justify-between">
				<div class="flex flex-col">
					<mat-label class="font-bold">{{
						"Property.User.CourseRole" | translate
					}}</mat-label>
					<mat-checkbox
						[(ngModel)]="filter.includeStudents"
						(change)="searchParticipants()"
						>{{ "Enum.CourseRole.STUDENT" | translate }}</mat-checkbox
					>
					<mat-checkbox
						[(ngModel)]="filter.includeTutors"
						(change)="searchParticipants()"
						>{{ "Enum.CourseRole.TUTOR" | translate }}</mat-checkbox
					>
					<mat-checkbox
						[(ngModel)]="filter.includeLecturers"
						(change)="searchParticipants()"
						>{{ "Enum.CourseRole.LECTURER" | translate }}</mat-checkbox
					>
				</div>
			</div>

			<div class="mt-2 flex gap-2">
				<mat-form-field class="w-full">
					<mat-label>Name</mat-label>
					<input
						matInput
						[(ngModel)]="filter.username"
						(keyup)="usernameFilterChangedSubject.next()"
						autocomplete="off"
						data-test="usernameTextField"
					/>
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>{{ "Domain.Group" | translate }}</mat-label>
					<input
						matInput
						[(ngModel)]="filter.groupName"
						(keyup)="usernameFilterChangedSubject.next()"
						autocomplete="off"
						data-test="groupNameTextField"
					/>
				</mat-form-field>
			</div>
		</div>
	</div>

	<div id="table-users">
		<table class="w-full" mat-table [dataSource]="dataSource$ | async">
			<!-- Action Column -->
			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef></th>
				<td class="w-24" mat-cell *matCellDef="let row">
					<button
						mat-icon-button
						[matMenuTriggerFor]="userOptionsMenu"
						data-test="userMenuButton"
					>
						<student-mgmt-icon class="icon-light" name="settings"></student-mgmt-icon>
					</button>

					<mat-menu #userOptionsMenu="matMenu" yPosition="above">
						<button
							mat-menu-item
							(click)="openChangeRoleDialog(row)"
							data-test="changeRoleButton"
						>
							<student-mgmt-icon
								class="icon-light mr-4"
								name="edit"
							></student-mgmt-icon>
							<span>{{ "Action.Custom.ChangeRole" | translate }}</span>
						</button>
						<button
							mat-menu-item
							(click)="openRemoveDialog(row)"
							data-test="removeParticipantButton"
						>
							<student-mgmt-icon
								class="mr-4 text-red-500"
								name="delete"
							></student-mgmt-icon>
							<span class="font-bold text-red-500">{{
								"Action.Remove" | translate
							}}</span>
						</button>
					</mat-menu>
				</td>
			</ng-container>

			<!-- Role Column -->
			<ng-container matColumnDef="role">
				<th class="w-32" mat-header-cell *matHeaderCellDef>
					{{ "Property.User.Role" | translate }}
				</th>
				<td mat-cell *matCellDef="let row">
					<student-mgmt-course-role-chip
						[role]="row.role"
					></student-mgmt-course-role-chip>
				</td>
			</ng-container>

			<!-- MatrNr Column -->
			<ng-container matColumnDef="matrNr">
				<th class="column-matrnr" mat-header-cell *matHeaderCellDef>MatrNr</th>
				<td mat-cell *matCellDef="let row">{{ row.matrNr ? row.matrNr : "??????" }}</td>
			</ng-container>

			<!-- Username Column -->
			<ng-container matColumnDef="username">
				<th class="column-username" mat-header-cell *matHeaderCellDef>
					{{ "Property.User.Username" | translate }}
				</th>
				<td mat-cell *matCellDef="let row">
					<a
						class="link-none font-bold"
						[routerLink]="['/courses', courseId, 'users', row.userId]"
						>{{ row.username }}</a
					>
				</td>
			</ng-container>

			<!-- DisplayName Column -->
			<ng-container matColumnDef="displayName">
				<th class="column-displayname" mat-header-cell *matHeaderCellDef>
					{{ "Property.User.DisplayName" | translate }}
				</th>
				<td mat-cell *matCellDef="let row">
					<a
						class="link-none font-bold"
						[routerLink]="['/courses', courseId, 'users', row.userId]"
						>{{ row.displayName }}
					</a>
				</td>
			</ng-container>

			<!-- Group Column -->
			<ng-container matColumnDef="group">
				<th mat-header-cell *matHeaderCellDef>
					{{ "Domain.Group" | translate }}
				</th>
				<td mat-cell *matCellDef="let row">
					<a
						*ngIf="row.group"
						class="link-none font-bold"
						[routerLink]="['/courses', courseId, 'groups', row.groupId]"
						>{{ row.group.name }}
					</a>
				</td>
			</ng-container>

			<ng-container matColumnDef="spacer">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let row"></td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>

		<student-mgmt-paginator (onPageChanged)="searchParticipants(true)"></student-mgmt-paginator>
	</div>
</div>
