#search-course-dialog {
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 600px;
}

.course-filter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 8px;

	::ng-deep .mat-form-field-wrapper{
		margin-bottom: -1.25em;
	}
}

.dialog-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.courseFilter-container {
	width: 100%;
}

.courseFilter-field {
	padding-right: 8px;
}

table {
	width: 100%;
}

.column-select {
	padding-right: 16px;
}

.column-title {
	width: 50%;
}
