mat-card-title {
	display: flex;
	justify-content: space-between;
}

#basic-data, #group-settings, #lecturers, #extended-options, #admission-criteria, #assignment-templates {
	display: flex;
	flex-direction: column;
	
	mat-form-field {
		width: 300px;
	}

	@media (max-width: 500px) {
		mat-form-field {
			width: 100%;
		}
	}
}

#admission-criteria {
	mat-form-field {
		width: 128px;
		margin-right: 8px;
	}
}

.assignment-template {
	display: flex;
	flex-direction: column;
}

#btn-add-lecturer, #btn-add-criteria, #btn-add-assignment-template {
	margin-top: 8px;
	margin-bottom: 8px;
	width: fit-content;
}

#icon-person-hint {
	vertical-align: middle;
}


