<div id="edit-assessment-container" class="tab">
	<div class="title-container flex justify-between">
		<h2 id="title">{{ "Title.EditAssessment" | translate }}</h2>

		<div class="save-actions flex gap-2">
			<button
				mat-flat-button
				color="accent"
				class="fit-content"
				[disabled]="form.form.invalid"
				(click)="onSave()"
			>
				{{ "Action.Save" | translate }}
			</button>

			<button
				class="btn-save-as-draft fit-content"
				mat-flat-button
				[disabled]="form.form.invalid"
				(click)="onSave(true)"
			>
				{{ "Action.Custom.SaveAsDraft" | translate }}
			</button>
		</div>
	</div>

	<student-mgmt-assessment-header
		[assignment]="assignment"
		[assessment]="assessment$ | async"
		[courseId]="this.courseId"
		[isEditMode]="true"
	></student-mgmt-assessment-header>

	<div class="mt-4 mb-4">
		<student-mgmt-assessment-form [assignment]="assignment"></student-mgmt-assessment-form>
	</div>

	<mat-hint>
		{{ "Text.Assessment.Visibility" | translate }}
	</mat-hint>

	<div class="mt-4 flex gap-2">
		<button
			mat-flat-button
			color="accent"
			id="btn-save"
			[disabled]="form.form.invalid"
			(click)="onSave()"
		>
			{{ "Action.Save" | translate }}
		</button>

		<button
			class="btn-save-as-draft"
			mat-flat-button
			[disabled]="form.form.invalid"
			(click)="onSave(true)"
		>
			{{ "Action.Custom.SaveAsDraft" | translate }}
		</button>
	</div>
</div>
