<div
	class="grid gap-4"
	*ngIf="assignment && assessment && participantFacade.participant$ | async as participant"
>
	<student-mgmt-card>
		<ng-container title>
			<div class="flex gap-4">
				<div class="self-end">
					{{ "Domain.Assessment" | translate }}: {{ assignment.name }}
				</div>
				<student-mgmt-simple-chip class="bg-orange-200 text-orange-700">{{
					"Domain.Draft" | translate
				}}</student-mgmt-simple-chip>
			</div>
		</ng-container>
		<ng-container subtitle>
			<div class="mt-2 flex gap-2">
				<student-mgmt-assignment-type-chip
					[type]="assignment.type"
				></student-mgmt-assignment-type-chip>

				<student-mgmt-collaboration-type-chip
					[collaborationType]="assignment.collaboration"
				></student-mgmt-collaboration-type-chip>
			</div>
		</ng-container>

		<ng-container
			menu
			*ngIf="(participantFacade.participant$ | async).isTeachingStaffMember && assessment"
		>
			<a
				*ngIf="!isEditMode"
				[routerLink]="[
					'/courses',
					courseId,
					'assignments',
					assignment.id,
					'assessments',
					'edit',
					assessment.id
				]"
			>
				<button mat-flat-button class="btn-edit" color="accent">
					{{ "Action.Edit" | translate }}
				</button>
			</a>
		</ng-container>

		<ng-container content>
			<div class="flex flex-col">
				<span class="created-by text-light">
					{{ "Common.CreatedBy" | translate }}
					<span class="text font-bold">{{ assessment.creator.displayName }}</span>
					({{ assessment.creationDate | date: "medium" }})
				</span>

				<span class="last-updated-by text-light" *ngIf="assessment.lastUpdatedBy">
					{{ "Common.LastUpdatedBy" | translate }}
					<span class="text font-bold">{{ assessment.lastUpdatedBy.displayName }}</span>
					({{ assessment.updateDate | date: "medium" }})
					<button
						mat-icon-button
						matTooltip="Load edit history"
						(click)="loadAssessmentEvents()"
						*ngIf="participant.isTeachingStaffMember"
					>
						<student-mgmt-icon class="icon-light" name="history"></student-mgmt-icon>
					</button>

					<div
						*ngIf="showEvents && participant.isTeachingStaffMember"
						class="events grid"
					>
						<ng-container *ngIf="assessmentEvents$ | async as events">
							<span *ngFor="let event of events">
								[{{ event.timestamp | date }}] -
								{{ "Property.Assessment.AchievedPoints" | translate }}:
								{{ $any(event.payload).oldScore }} ->
								{{ $any(event.payload).newScore }}
							</span>

							<p *ngIf="events?.length === 0">{{ "Common.None" | translate }}.</p>
						</ng-container>
					</div>
				</span>
			</div>
		</ng-container>
	</student-mgmt-card>

	<student-mgmt-assessment-target
		[group]="assessment.group"
		[targetedParticipant]="assessment.participant"
		[participant]="participant"
		[courseId]="courseId"
	>
	</student-mgmt-assessment-target>
</div>
