.container {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: var(--margin-default);
	padding-right: var(--margin-default);
}

mat-card-title {
	display: flex;
	justify-content: space-between;
}

#basic-data,
#lecturers,
#secrets {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;

	mat-form-field {
		width: 100%;
		margin-bottom: 16px;
	}
}

#icon-person-hint {
	vertical-align: middle;
}

#btn-add-lecturer {
	margin-bottom: 16px;
	width: fit-content;
}

#icon-person-hint {
	vertical-align: middle;
}

#btn-add-assignment-template {
	margin-top: 8px;
}
