<form [formGroup]="form" autocomplete="off">
		
	<div id="assignment-grid">
		<mat-form-field>
			<mat-label>{{ 'Common.Name' | translate }}</mat-label>
			<input matInput formControlName="name" required>
			<mat-error>Name is missing.</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>{{ 'Property.Assignment.State' | translate }}</mat-label>
			<mat-select formControlName="state">
				<mat-option [value]="stateEnum.INPROGRESS">{{ "Enum.AssignmentState." + stateEnum.INPROGRESS | translate }}</mat-option>
				<mat-option [value]="stateEnum.CLOSED">{{ "Enum.AssignmentState." + stateEnum.CLOSED | translate }}</mat-option>
				<mat-option [value]="stateEnum.INVISIBLE">{{ "Enum.AssignmentState." + stateEnum.INVISIBLE | translate }}</mat-option>
				<mat-option [value]="stateEnum.INREVIEW">{{ "Enum.AssignmentState." + stateEnum.INREVIEW | translate }}</mat-option>
				<mat-option [value]="stateEnum.EVALUATED">{{ "Enum.AssignmentState." + stateEnum.EVALUATED | translate }}</mat-option>
			</mat-select>
		</mat-form-field>
			
		<div class="radio-group-container">
			<label class="radio-group-label">{{ 'Property.Assignment.Type' | translate }}</label>
			<mat-radio-group class="radio-group" formControlName="type">
				<mat-radio-button [value]="typeEnum.HOMEWORK">{{ "Enum.AssignmentType." + typeEnum.HOMEWORK | translate }}</mat-radio-button>
				<mat-radio-button [value]="typeEnum.TESTAT">{{ "Enum.AssignmentType." + typeEnum.TESTAT | translate }}</mat-radio-button>
				<mat-radio-button [value]="typeEnum.SEMINAR">{{ "Enum.AssignmentType." + typeEnum.SEMINAR | translate }}</mat-radio-button>
				<mat-radio-button [value]="typeEnum.PROJECT">{{ "Enum.AssignmentType." + typeEnum.PROJECT | translate }}</mat-radio-button>
				<mat-radio-button [value]="typeEnum.OTHER">{{ "Enum.AssignmentType." + typeEnum.OTHER | translate }}</mat-radio-button>
			</mat-radio-group>
		</div>
			
		<div class="radio-group-container">
			<label class="radio-group-label">{{ 'Property.Assignment.Collaboration' | translate }}</label>
			<mat-radio-group class="radio-group" formControlName="collaboration">
				<mat-radio-button [value]="collaborationEnum.GROUP">{{ "Enum.CollaborationType." + collaborationEnum.GROUP | translate }}</mat-radio-button>
				<mat-radio-button [value]="collaborationEnum.SINGLE">{{ "Enum.CollaborationType." + collaborationEnum.SINGLE | translate }}</mat-radio-button>
				<mat-radio-button [value]="collaborationEnum.GROUPORSINGLE">{{ "Enum.CollaborationType." + collaborationEnum.GROUPORSINGLE | translate }}</mat-radio-button>
			</mat-radio-group>
		</div>
		
		<mat-form-field>
			<mat-label>{{ 'Property.Assignment.StartDate' | translate }}</mat-label>
			<input matInput type="datetime-local" formControlName="startDate">
		</mat-form-field>

		<mat-form-field>
			<mat-label>{{ 'Property.Assignment.EndDate' | translate }}</mat-label>
			<input matInput type="datetime-local" formControlName="endDate">
		</mat-form-field>
			
		<mat-form-field>
			<mat-label>{{ 'Property.Assignment.Points' | translate }}</mat-label>
			<input matInput type="number" formControlName="points" required>
			<mat-error>Points are missing.</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>{{ 'Property.Assignment.BonusPoints' | translate }}</mat-label>
			<input matInput type="number" formControlName="bonusPoints">
		</mat-form-field>
		
	</div>
	
	<mat-form-field id="link-field">
		<mat-label>{{ 'Misc.Link' | translate }}</mat-label>
		<input matInput placeholder="Enter link" formControlName="link">
	</mat-form-field>

	<mat-form-field id="comment-field" appearance="outline">
		<mat-label>{{ 'Property.Assignment.Comment' | translate }}</mat-label>
		<textarea width matInput formControlName="comment" rows=5></textarea>
	</mat-form-field>
	
</form>
