#assignment-grid {
	display: grid;
	gap: 4px 8px;
	grid-template-areas: "left right";
}

#comment-field,
#link-field {
	width: 100%;
}

.radio-group-container {
	margin-top: -8px;
	margin-bottom: 8px;
}

.links {
	h3 {
		margin-bottom: 4px;
		span {
			margin-right: 8px;
		}
	}
}

.link-form {
	display: grid;
	grid-template-columns: auto auto 32px;
	column-gap: 8px;
}

.remove-link-btn {
	margin-top: 8px;
	margin-left: auto;
	margin-right: 0;
}
