.participant-admission-status {
	margin-top: 52px;
	min-width: 400px;
}

.overall-result {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.overall-result-column {
	display: flex;
	align-items: center;
	gap: 8px;
}

.rules {
	display: grid;
	margin-top: 16px;
	row-gap: 16px;
}

.rule {
	display: grid;
	gap: 4px;
}

.rule-title {
	display: grid;
}

.type {
	margin-top: 8px;
	text-align: justify;
}

.top {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
}

mat-spinner {
	margin-left: auto;
	margin-right: auto;
	margin-top: 64px;
	margin-bottom: 64px;
}
