<div class="confirm-dialog dialog-container">
	<mat-card-title> {{ getTitle() | translate }} </mat-card-title>

	<pre class="preformatted">{{ getMessage() | translate }}</pre>

	<p id="param-container">
		<ng-container *ngFor="let param of data?.params"> {{ param }}<br /> </ng-container>
	</p>

	<div class="button-container">
		<button mat-raised-button color="accent" (click)="onConfirm()" data-test="btn-confirm">
			{{ 'Action.Confirm' | translate }}
		</button>
		<button mat-flat-button (click)="onCancel()" data-test="btn-cancel">
			{{ 'Action.Cancel' | translate }}
		</button>
	</div>
</div>
