<div class="flex flex-col w-64" *ngIf="loginState$ | async as loginState">
	<span mat-dialog-title>Login</span>

	<div mat-dialog-content class="flex flex-col gap-4">
		<mat-form-field class="w-full" appearance="outline">
			<mat-label>{{ 'Property.User.Username' | translate }}</mat-label>
			<input
				[(ngModel)]="username"
				matInput
				type="text"
				name="username"
				id="username"
				(keydown.enter)="onLogin()"
			/>
			<app-icon matSuffix class="icon-light" name="person"></app-icon>
		</mat-form-field>

		<mat-form-field class="w-full" appearance="outline">
			<mat-label>{{ 'Common.Password' | translate }}</mat-label>
			<input
				[(ngModel)]="password"
				matInput
				type="password"
				name="password"
				id="password"
				(keydown.enter)="onLogin()"
			/>
			<app-icon matSuffix class="icon-light" name="lock"></app-icon>
		</mat-form-field>

		<div class="flex justify-center">
			<mat-error *ngIf="loginState.error">{{ loginState.error | translate}}</mat-error>
			<mat-spinner *ngIf="loginState.isLoading" color="accent" [diameter]="32"></mat-spinner>
		</div>
	</div>

	<div mat-dialog-actions class="flex gap-4">
		<button
			mat-flat-button
			color="accent"
			id="btn-login"
			(click)="onLogin()"
			[disabled]="loginState.isLoading"
		>
			Login
		</button>
		<button [mat-dialog-close]="false">{{ 'Action.Cancel' | translate }}</button>
	</div>
</div>
