.admission-from-previous-semester {
	padding-top: 16px;
}

.btn-save {
	margin-bottom: 8px;
}

.description {
	margin-top: -8px;
	margin-bottom: 16px;
}

.grid {
	display: grid;
	grid-template-columns: 128px auto;
	gap: 8px;
}
