<div class="user-settings mx-auto max-w-xl px-2 py-8" *ngIf="userSettings">
	<student-mgmt-title [title]="'Misc.Settings' | translate"></student-mgmt-title>

	<div class="flex flex-col gap-8">
		<student-mgmt-card>
			<ng-container title>MatrNr</ng-container>
			<ng-container content>
				<button mat-stroked-button (click)="openMatrNrDialog()">
					{{ "Action.Edit" | translate }}
				</button>
			</ng-container>
		</student-mgmt-card>

		<student-mgmt-card>
			<ng-container title>{{ "Property.UserSettings.Language" | translate }}</ng-container>
			<ng-container subtitle>{{ "Text.UserSettings.Language" | translate }}</ng-container>
			<ng-container content>
				<div class="flex gap-2">
					<button
						mat-flat-button
						[class.selected]="userSettings.language === languageEnum.DE"
						(click)="selectLanguage(languageEnum.DE)"
					>
						Deutsch
					</button>
					<button
						mat-flat-button
						[class.selected]="userSettings.language === languageEnum.EN"
						(click)="selectLanguage(languageEnum.EN)"
					>
						English
					</button>
				</div>
			</ng-container>
		</student-mgmt-card>

		<student-mgmt-card>
			<ng-container title>Email-{{ "Misc.Notifications" | translate }}</ng-container>
			<ng-container content>
				<mat-slide-toggle
					[checked]="userSettings.allowEmails"
					(change)="toggleAllowEmails()"
					>{{ "Property.UserSettings.AllowEmails" | translate }}</mat-slide-toggle
				>

				<div class="mt-4 mb-4">
					<mat-divider></mat-divider>
				</div>

				<h3>{{ "Text.UserSettings.EmailNotifications" | translate }}</h3>

				<div class="grid gap-2">
					<mat-slide-toggle
						*ngFor="let event of blacklistableEventList"
						[checked]="userSettings.blacklistedEvents[event]"
						(change)="toggleEmailEvent($any(event))"
						[disabled]="!userSettings.allowEmails"
					>
						{{ "Text.UserSettings.BlacklistedEvents." + event | translate }}
					</mat-slide-toggle>
				</div>
			</ng-container>
		</student-mgmt-card>
	</div>
</div>
