#login-form-container {
	display: flexbox;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
  
.form-field {
	width: 100%;
}
  
.form-buttons {
	display: flex;
	flex-direction: column;
	padding-top: 8px;
	justify-content: center;
	
	button {
		margin-bottom: 8px;
	}
}

#error-message {
	text-align: center;
	color: red;
}
