<mat-card>
	<mat-card-content>
		<mat-card-title>Courses</mat-card-title>

		<div class="courseFilter-container">
			<mat-form-field class="courseFilter-field">
				<mat-label for="title">Course title</mat-label>
				<input #titleRef [(ngModel)]="title" matInput type="text" name="title" id="title" placeholder="Enter course title..." autocomplete="off">
			</mat-form-field>

			<mat-form-field class="courseFilter-field">
				<mat-label for="">Select semester</mat-label>
				<mat-select [(value)]="selectedSemester" id="semester" name="semester" placeholder="Enter semester...">
					<mat-option value="">All</mat-option>
					<mat-option value="wise1920">WiSe 19/20</mat-option>
					<mat-option value="sose2020">SoSe 20/20</mat-option>
				</mat-select>
			</mat-form-field>

			<button mat-flat-button (click)="searchCourses()" id="btn-search" color="accent">Search</button>
		</div>

	</mat-card-content>
</mat-card>
