<div class="extended-confirm-dialog">
	<mat-card-title mat-dialog-title>
		{{ (data?.title ? data.title : 'Action.Confirm') | translate}}
	</mat-card-title>

	<p>{{ data?.message | translate }}</p>

	<div class="params">
		<ng-container *ngFor="let param of data?.params">
			{{ param }}
			<br />
		</ng-container>
	</div>

	<span class="info">
		<span class="confirm-info">{{ 'Text.Common.EnterToConfirm' | translate }}:</span>
		<span class="confirm-text">{{ data.stringToConfirm }}</span>
	</span>

	<mat-form-field>
		<input matInput #userInput [placeholder]="data.stringToConfirm" autocomplete="off" />
	</mat-form-field>

	<div class="button-container">
		<button
			mat-raised-button
			color="accent"
			(click)="dialogRef.close(true)"
			[disabled]="userInput.value !== data.stringToConfirm"
		>
			{{ 'Action.Confirm' | translate }}
		</button>
		<button mat-flat-button (click)="dialogRef.close(false)">
			{{ 'Action.Cancel' | translate }}
		</button>
	</div>
</div>
