<div class="tab" *ngIf="admissionCriteria$ | async as criteria; else noAdmissionCriteria">

	<mat-card class="result-card">
		<mat-card-title class="result-card-title">
			<span class="text-light">{{ 'Domain.Admission' | translate }}*:</span>
			<span *ngIf="status.hasAdmission; else no" class="text-green font-bold">{{ 'Common.Yes' | translate }}</span>
			<ng-template #no>
				<span class="text-red">{{ 'Common.No' | translate }}</span>
			</ng-template>
		</mat-card-title>

		<span class="disclaimer text-light">
			*{{ 'Misc.AdmissionStatusDisclaimer' | translate }}
		</span>
	</mat-card>

	<div class="rules">
		<app-admission-rule *ngFor="let rule of criteria.rules; let i = index" [rule]="rule" [index]="i" [result]="results[i]"></app-admission-rule>
	</div>

</div>
<ng-template #noAdmissionCriteria>
	{{ 'Common.None' | translate }}
</ng-template>
