<div class="dialog-container" id="edit-group-dialog" *ngIf="group">

	<mat-card-title>{{ 'Title.EditGroup' | translate }}</mat-card-title>

	<div class="dialog-content">

		<div class="grid">
			<mat-form-field>
				<mat-label>{{ 'Property.Group.Name' | translate }}</mat-label>
				<input matInput [(ngModel)]="update.name" required autocomplete="off" [disabled]="isRenamingLocked()">
				<mat-hint *ngIf="isRenamingLocked()">
					{{ 'Text.Group.CanNotBeRenamed' | translate }}
				</mat-hint>
			</mat-form-field>
	
			<mat-form-field>
				<mat-label>{{ 'Common.Password' | translate }}</mat-label>
				<input matInput [(ngModel)]="update.password" required autocomplete="off">
			</mat-form-field>
	
			<mat-form-field>
				<mat-label>{{ 'Property.Group.IsClosed' | translate }}</mat-label>
				
				<mat-select [(value)]="update.isClosed" [disabled]="isClosingLocked()">
					<mat-option [value]="true">{{ 'Common.Yes' | translate }}</mat-option>
					<mat-option [value]="false">{{ 'Common.No' | translate }}</mat-option>
				</mat-select >
	
				<mat-hint *ngIf="isClosingLocked()">
					{{ 'Text.Group.CanNotBeClosed' | translate }}
				</mat-hint>
			</mat-form-field>
		</div>

	</div>

	<div>
		<button mat-flat-button (click)="onSave()" color="accent">{{ 'Action.Save' | translate }}</button>
		<button mat-button (click)="onCancel()">{{ 'Action.Cancel' | translate }}</button>
	</div>

</div>
