<div class="user-settings tab" *ngIf="userSettings">
	<h2>{{ "Misc.Settings" | translate }}</h2>

	<div class="grid gap-4">
		<app-card>
			<ng-container title>{{ "Property.UserSettings.Language" | translate }}</ng-container>
			<ng-container subtitle>{{ "Text.UserSettings.Language" | translate }}</ng-container>
			<ng-container content>
				<div class="flex gap-2">
					<button
						mat-flat-button
						[class.selected]="userSettings.language === languageEnum.DE"
						(click)="selectLanguage(languageEnum.DE)"
					>
						Deutsch
					</button>
					<button
						mat-flat-button
						[class.selected]="userSettings.language === languageEnum.EN"
						(click)="selectLanguage(languageEnum.EN)"
					>
						English
					</button>
				</div>
			</ng-container>
		</app-card>

		<app-card>
			<ng-container title>Email-{{ "Misc.Notifications" | translate }}</ng-container>
			<ng-container content>
				<mat-slide-toggle
					[checked]="userSettings.allowEmails"
					(change)="toggleAllowEmails()"
					>{{ "Property.UserSettings.AllowEmails" | translate }}</mat-slide-toggle
				>

				<div class="mt-4 mb-4">
					<mat-divider></mat-divider>
				</div>

				<h3>{{ "Text.UserSettings.EmailNotifications" | translate }}</h3>

				<div class="grid gap-2">
					<mat-slide-toggle
						*ngFor="let event of blacklistableEventList"
						[checked]="userSettings.blacklistedEvents[event]"
						(change)="toggleEmailEvent($any(event))"
						[disabled]="!userSettings.allowEmails"
					>
						{{ "Text.UserSettings.BlacklistedEvents." + event | translate }}
					</mat-slide-toggle>
				</div>
			</ng-container>
		</app-card>
	</div>
</div>
