<div class="flex flex-col gap-4" [formGroup]="form">
	<mat-form-field *ngIf="!isEditMode">
		<mat-label>Id</mat-label>
		<input matInput formControlName="id" />
		<mat-hint>{{ "Text.Course.Id" | translate }}</mat-hint>
	</mat-form-field>

	<mat-form-field>
		<mat-label>{{ "Property.Course.Shortname" | translate }}</mat-label>
		<input matInput formControlName="shortname" required />
		<mat-hint>{{ "Text.Course.Shortname" | translate }}</mat-hint>
		<mat-error>{{ "Error.ValueMissing" | translate }}</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>{{ "Domain.Semester" | translate }}</mat-label>
		<mat-select formControlName="semester" required>
			<mat-option *ngFor="let semester of semesters" [value]="semester">{{
				semester | semester
			}}</mat-option>
		</mat-select>
		<mat-error>{{ "Error.ValueMissing" | translate }}</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>{{ "Property.Course.Title" | translate }}</mat-label>
		<input matInput formControlName="title" required />
		<mat-error>{{ "Error.ValueMissing" | translate }}</mat-error>
	</mat-form-field>

	<mat-form-field>
		<mat-label>{{ "Property.Course.IsClosed" | translate }}</mat-label>
		<mat-select formControlName="isClosed" required>
			<mat-option [value]="false">{{ "Common.No" | translate }}</mat-option>
			<mat-option [value]="true">{{ "Common.Yes" | translate }}</mat-option>
		</mat-select>
		<mat-hint>{{ "Text.Course.Closed" | translate }}</mat-hint>
		<mat-error>{{ "Error.ValueMissing" | translate }}</mat-error>
	</mat-form-field>

	<div class="links" formArrayName="links">
		<h3>
			<span>Links</span>
			<button type="button" mat-flat-button color="accent" (click)="addLink()">
				{{ "Action.Add" | translate }}
			</button>
		</h3>

		<div
			class="link-form"
			*ngFor="let link of getLinks().controls; let i = index"
			[formGroupName]="i"
		>
			<mat-form-field>
				<mat-label>Name</mat-label>
				<input matInput formControlName="name" required />
			</mat-form-field>

			<mat-form-field>
				<mat-label>URL</mat-label>
				<input matInput formControlName="url" required />
			</mat-form-field>

			<button mat-icon-button class="remove-link-btn" (click)="removeLink(i)">
				<student-mgmt-icon name="clear" class="text"></student-mgmt-icon>
			</button>
		</div>
	</div>
</div>
