.participant-profile {
	padding-top: 16px;
	padding-bottom: 32px;
}

.profile {
	display: grid;
	gap: 32px;

	@media screen and (min-width: 900px) {
		display: flex;
		justify-content: space-between;
	}
}

.info {
	display: grid;
	gap: 8px;
}

.left {
	width: 100%;
	display: grid;
	row-gap: 16px;
	height: max-content;
}
