<div class="participant-profile">
	<ng-container *ngIf="userParticipant$ | async as userParticipant">
		<ng-container *ngIf="participant$ | async as participant">
			<div class="profile">
				<div class="left">
					<student-mgmt-card class="profile-card">
						<ng-container title>{{ participant.displayName }}</ng-container>
						<ng-container content>
							<div class="info">
								<span *ngIf="participant.email">
									<span class="font-bold"
										>{{ "Property.User.Email" | translate }}:
									</span>
									<span class="text-light">{{ participant.email }}</span>
								</span>

								<span>
									<span class="font-bold"
										>{{ "Property.User.Username" | translate }}:
									</span>
									<span class="text-light">{{ participant.username }}</span>
								</span>

								<span>
									<span class="font-bold">MatrNr: </span>
									<span class="text-light">{{ participant.matrNr }}</span>
								</span>

								<span>
									<span class="font-bold"
										>{{ "Property.User.Role" | translate }}:
									</span>
									<span class="text-light">{{
										"Enum.CourseRole." + participant.role | translate
									}}</span>
								</span>

								<span *ngIf="participant.group">
									<span class="font-bold"
										>{{ "Domain.Group" | translate }}:
									</span>
									<a
										class="link-none text-light"
										[routerLink]="[
											'/courses',
											courseId,
											'groups',
											participant.groupId
										]"
										*ngIf="
											userParticipant.isTeachingStaffMember;
											else groupWithoutLink
										"
									>
										{{ participant.group.name }}
									</a>
									<ng-template #groupWithoutLink>
										<span class="text-light">{{ participant.group.name }}</span>
									</ng-template>
								</span>
							</div>
						</ng-container>
					</student-mgmt-card>

					<div
						class="full-profile"
						*ngIf="(showFullProfile$ | async) && participant.role === 'STUDENT'"
					>
						<nav class="nav" mat-tab-nav-bar color="accent">
							<a
								mat-tab-link
								[routerLink]="['/courses', courseId, 'users', userId]"
								routerLinkActive
								[routerLinkActiveOptions]="{ exact: true }"
								#rla1="routerLinkActive"
								[active]="rla1.isActive"
							>
								<span class="uppercase">{{
									"Domain.Assessments" | translate
								}}</span>
							</a>
						</nav>

						<div class="profile-content">
							<router-outlet></router-outlet>
						</div>
					</div>
				</div>

				<div
					class="admission-status"
					*ngIf="(showFullProfile$ | async) && participant.role === 'STUDENT'"
				>
					<student-mgmt-participant-admission-status
						[admissionStatus$]="admissionStatus$"
					></student-mgmt-participant-admission-status>
				</div>
			</div>
		</ng-container>
	</ng-container>
</div>
