<div class="tab">
	<button (click)="openAddDialog()" mat-flat-button id="btn-add" color="accent">
		<mat-icon>add</mat-icon>
		Add Assignment
	</button>

	<mat-list class="assignment-cards">
		<mat-list-item class="assignment-card" *ngFor="let assignment of assignmentManagement.assignments$ | async">

			<span class="left">
				<mat-icon *ngIf="assignment.state == 'IN_PROGRESS'" color="accent">play_circle_filled</mat-icon>
				<mat-icon *ngIf="assignment.state == 'CLOSED'" color="primary">lock</mat-icon>
				<mat-icon *ngIf="assignment.state == 'IN_REVIEW'" color="primary">remove_red_eye</mat-icon>
				<mat-icon *ngIf="assignment.state == 'EVALUATED'" color="primary">assignment_turned_in</mat-icon>
				<mat-icon *ngIf="assignment.state == 'INVISIBLE'" color="primary">vpn_key</mat-icon>

				<a class="link-none font-bold" [routerLink]="[assignment.id]">{{assignment.name}}</a>
			</span>

			<span class="right">
				<button mat-button (click)="openEditDialog(assignment)">Edit</button>
				<button mat-button class="btn-delete" (click)="onDelete(assignment)">Delete</button>
			</span>

		</mat-list-item>
	</mat-list>
</div>



