mat-card-title {
	display: flex;
	justify-content: space-between;
}

.btn-top {
	margin-top: 8px;
	margin-bottom: 8px;
}

#basic-data,
#lecturers,
#secrets {
	display: flex;
	flex-direction: column;
	width: 100%;

	mat-form-field {
		width: 100%;
		margin-bottom: 16px;
	}
}

#icon-person-hint {
	vertical-align: middle;
}

::ng-deep .form-container {
	.mat-tab-group {
		flex-direction: row !important;
		border-radius: 4px;
	}

	.mat-tab-labels {
		flex-direction: column !important;
	}

	.mat-tab-label-active {
		border-right: 2px solid var(--accent) !important;
	}

	.mat-ink-bar {
		display: none !important;
	}

	.mat-tab-body-wrapper {
		padding-left: 32px;
		padding-right: 32px;
		padding-bottom: 16px;
		padding-top: 0px;
		width: 100%;
	}

	.mat-tab-header {
		border-bottom: none !important;
	}
}
