#group-settings {
	width: 600px;
	display: flex;
	flex-direction: column;
	width: 100%;

	mat-form-field {
		width: 100%;
		margin-bottom: 16px;
	}
}

.group-size-settings {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 16px;
}
