<div class="mt-4 about" *ngIf="about$ | async as about">
	<app-card>
		<ng-container title>{{ about.course.title }}</ng-container>
		<ng-container subtitle>{{ about.course.id }}</ng-container>
		<ng-container content>
			<div class="content">
				<span>
					<span class="font-bold">{{ "Domain.Participants" | translate }}: </span>
					<span class="text-light">{{ about.participantsCount }}</span>
				</span>

				<div class="links" *ngIf="about.course.links?.length > 0">
					<a
						class="font-bold link-none link"
						*ngFor="let link of about.course.links"
						[href]="link.url"
						>#{{ link.name }}</a
					>
				</div>

				<div class="teaching-staff">
					<span class="member" *ngFor="let member of about.teachingStaff">
						<ng-container [ngSwitch]="member.role" class="chips">
							<app-chip
								*ngSwitchCase="'LECTURER'"
								icon="record_voice_over"
								[text]="'Enum.CourseRole.' + member.role | translate"
								color="#e72a67"
							></app-chip>
							<app-chip
								*ngSwitchCase="'TUTOR'"
								icon="supervisor_account"
								[text]="'Enum.CourseRole.' + member.role | translate"
								color="#5b00af"
							></app-chip>
							<app-chip
								*ngSwitchDefault
								icon="person"
								[text]="'Enum.CourseRole.' + member.role | translate"
								color="#009966"
							></app-chip>
						</ng-container>
						<span>{{ member.displayName }}</span>
					</span>
				</div>
			</div>
		</ng-container>
	</app-card>
</div>
