<ng-container *ngIf="group">
	<app-card>
		<ng-container title>
			<ng-container
				*ngIf="participant.isStudent && participant.groupId !== group.id; else nameWithLink"
			>
				{{ group.name }}
			</ng-container>
			<ng-template #nameWithLink>
				<a [routerLink]="['/courses', courseId, 'groups', group.id]" class="name link-none">
					{{ group.name }}
				</a>
			</ng-template>
		</ng-container>

		<ng-container subtitle>{{ "Domain.Members" | translate }}: {{ group.size }}</ng-container>

		<ng-container content>
			<div class="flex gap-2">
				<a
					class="font-bold member link-none"
					[routerLink]="['/courses', courseId, 'users', member.userId]"
					*ngFor="let member of group.members"
				>
					<button mat-flat-button color="primary">{{ member.displayName }}</button>
				</a>
			</div>
		</ng-container>
	</app-card>
</ng-container>

<ng-container *ngIf="targetedParticipant || !group">
	<app-card>
		<ng-container title>
			<a
				class="link-none"
				[routerLink]="['/courses', courseId, 'users', targetedParticipant.userId]"
			>
				{{ targetedParticipant.displayName }}
			</a>
		</ng-container>
	</app-card>
</ng-container>
