.card-title {
	margin-top: -8px !important;
	font-size: 18px;
	display: flex;
}

.left {
	display: grid;
	grid-auto-rows: auto;
	row-gap: 4px;
}

.content {
	padding-top: 4px;
	display: grid;
	row-gap: 16px;
}

.info {
	margin-top: -8px;
	display: grid;
}
