<app-card>
	<ng-container title>
		{{ partial.title }}
	</ng-container>

	<ng-container subtitle *ngIf="partial.points">
		{{ partial.points }} {{ "Domain.Points" | translate }}
	</ng-container>

	<ng-container content>
		<div class="mb-16 comment">
			<pre class="preformatted">{{ partial.comment }}</pre>
		</div>

		<div class="grid g-16">
			<div [class]="'grid marker ' + marker.severity" *ngFor="let marker of partial.markers">
				<ng-container [ngSwitch]="marker.severity">
					<app-chip
						*ngSwitchCase="severityEnum.HINT"
						icon="lightbulb"
						color="#2ea569"
						[text]="marker.severity"
					></app-chip>
					<app-chip
						*ngSwitchCase="severityEnum.INFO"
						icon="info"
						color="#0d9fcf"
						[text]="marker.severity"
					></app-chip>
					<app-chip
						*ngSwitchCase="severityEnum.WARNING"
						icon="warning"
						color="#daa000"
						[text]="marker.severity"
					></app-chip>
					<app-chip
						*ngSwitchCase="severityEnum.ERROR"
						icon="error"
						color="red"
						[text]="marker.severity"
					></app-chip>
					<app-chip
						*ngSwitchDefault
						icon="help"
						color="primary"
						text="Unknown"
					></app-chip>
				</ng-container>

				<div class="mt-16 mb-8">
					<pre class="font-bold preformatted">{{ marker.comment }}</pre>
				</div>
				<span>
					<span>Path: </span>
					<span class="text-light">{{ marker.path }}</span>
				</span>
				<span>
					<span>Line: </span>
					<span class="text-light"
						>{{ marker.startLineNumber }} - {{ marker.endLineNumber }}</span
					>
				</span>
				<span *ngIf="marker.startColumn || marker.endColumn">
					<span>Column: </span>
					<span class="text-light"
						>{{ marker.startColumn || "?" }} - {{ marker.endColumn || "?" }}</span
					>
				</span>
			</div>
		</div>
	</ng-container>
</app-card>
