<app-card>
	<ng-container title>
		<div class="grid g-8">
			<span>{{ partial.title }}</span>
		</div>
	</ng-container>

	<ng-container subtitle *ngIf="partial.points">
		{{ partial.points }} {{ "Domain.Points" | translate }}
	</ng-container>

	<ng-container content>
		<div *ngIf="partial.draftOnly" class="mb-16 text-red">
			{{ "Property.PartialAssessment.DraftOnly" | translate }}.
		</div>

		<div class="comment">
			<pre class="preformatted">{{ partial.comment }}</pre>
		</div>

		<div class="grid mt-16 g-16" *ngIf="partial.markers?.length > 0">
			<app-marker *ngFor="let marker of partial.markers" [marker]="marker"></app-marker>
		</div>
	</ng-container>
</app-card>
