<ng-container *ngIf="participantFacade.participant$ | async as participant">
	<div class="grid g-16 tab" *ngIf="vm$ | async as vm">
		<app-assessment-header
			[assignment]="vm"
			[assessment]="vm.assessment"
			[courseId]="this.courseId"
		></app-assessment-header>

		<app-card>
			<ng-container title>
				<span class="overall-result">
					<span class="achieved-points-number"
						>{{ vm.assessment.achievedPoints }}
						<span class="text-light">
							/ {{ vm.points }}
							<span *ngIf="vm.bonusPoints">(+{{ vm.bonusPoints }})</span>
							{{ "Domain.Points" | translate }}
						</span>
					</span>
					<ng-container *ngIf="vm.requiredPoints >= 0">
						<app-chip
							*ngIf="vm.assessment.hasPassed"
							icon="thumb_up"
							[text]="'Property.Assessment.HasPassed' | translate"
							color="#2fac6f"
						></app-chip>
						<app-chip
							*ngIf="!vm.assessment.hasPassed"
							icon="thumb_down"
							[text]="'Domain.Failed' | translate"
							color="#ff0134"
						></app-chip>
					</ng-container>
				</span>
			</ng-container>

			<ng-container subtitle *ngIf="vm.requiredPoints"
				>{{ "Common.Required" | translate }}: {{ vm.requiredPoints || "?" }}
				{{ "Domain.Points" | translate }}</ng-container
			>

			<ng-container content *ngIf="vm.assessment.comment">
				<pre class="preformatted">{{ vm.assessment.comment }}</pre>
			</ng-container>
		</app-card>

		<ng-container *ngIf="vm.assessment.partialAssessments.length > 0">
			<div class="grid partial-assessments g-16">
				<ng-container *ngFor="let partial of vm.assessment.partialAssessments">
					<app-partial-assessment
						class="partial-assessment"
						[partialAssessment]="partial"
					></app-partial-assessment>
				</ng-container>
			</div>
		</ng-container>
	</div>
</ng-container>
