.assessment-viewer {
	display: grid;
	row-gap: 16px;
}

.title {
	display: flex;
	justify-content: space-between;

	button {
		height: fit-content;
	}
}

.last-updated-by {
	button {
		position: absolute;
		margin-top: -10px;
	}
}

.overall-result {
	display: flex;
	gap: 16px;

	app-chip {
		margin-top: -4px;
	}
}

.preformatted {
	margin: 0px !important;
}
