.assignment-card {
}

.chips {
	display: flex;
	gap: 8px;
	margin-bottom: 16px;
}

.group-title {
	font-size: 16px;
}

.group {
	margin-top: 14px;
	background-color: var(--color-bg);
	border-radius: 4px;
	padding: 8px;
	width: fit-content;
}

.links {
	color: var(--accent);
	font-weight: 500;
}

.member {
	margin-top: 4px;
	padding-left: 16px;
	border-left: 2px solid var(--accent);
	display: grid;
}

.warning {
	display: flex;
	font-weight: 500;
	gap: 8px;
	padding-top: 16px;

	student-mgmt-icon {
		margin-top: -2px;
		fill: #daa000;
	}
}

.state {
	margin-left: 16px;
	margin-top: -4px;
}
