<h2 class="title">
	<span>{{ "Domain.RegisteredGroups" | translate }}</span>

	<ng-container *ngIf="participantFacade.participant$ | async as participant">
		<div class="title-buttons">
			<button mat-flat-button color="accent" (click)="registerGroup()">
				<app-icon name="add"></app-icon>
				{{ "Action.Custom.RegisterGroup" | translate }}
			</button>
			<button
				mat-flat-button
				color="primary"
				(click)="registerCurrentGroups()"
				[disabled]="hasRegisteredGroups"
			>
				{{ "Action.Custom.RegisterAllGroups" | translate }}
			</button>
			<button mat-flat-button color="primary" (click)="unregisterAllGroups()">
				{{ "Action.Custom.UnregisterAllGroups" | translate }}
			</button>
			<button mat-stroked-button (click)="exportToExcel()">Export</button>
		</div>
	</ng-container>
</h2>

<div class="filter">
	<mat-form-field class="group-filter">
		<mat-label>Filter</mat-label>
		<input matInput cdkFocusInitial [(ngModel)]="filter" (keyup)="filterUpdated()" />
	</mat-form-field>
</div>

<table class="full-width" mat-table #table [dataSource]="dataSource$ | async">
	<ng-container matColumnDef="action">
		<th class="action-column" mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let row">
			<mat-menu #registrationMenu="matMenu">
				<button mat-menu-item (click)="registerParticipant(row)">
					<app-icon class="mr-16 icon-light" name="person_add"></app-icon
					>{{ "Action.Custom.AddParticipant" | translate }}
				</button>
				<button mat-menu-item (click)="unregisterGroup(row)">
					<span class="text-red">
						<app-icon class="mr-16 icon-light" name="delete"></app-icon
						>{{ "Action.Custom.RemoveGroup" | translate }}
					</span>
				</button>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="registrationMenu">
				<app-icon class="icon-light" name="settings"></app-icon>
			</button>
		</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th class="name-column" mat-header-cell *matHeaderCellDef>
			{{ "Property.Group.Name" | translate }}
		</th>
		<td mat-cell *matCellDef="let row">
			<a
				class="font-bold link-none"
				[routerLink]="['/courses', courseId, 'groups', row.id]"
				>{{ row.name }}</a
			>
		</td>
	</ng-container>

	<ng-container matColumnDef="members">
		<th mat-header-cell *matHeaderCellDef>{{ "Domain.Members" | translate }}</th>
		<td mat-cell *matCellDef="let row">
			<mat-chip-list>
				<mat-chip
					[removable]="true"
					*ngFor="let member of row.members"
					(removed)="unregisterParticipant(member)"
					disableRipple
				>
					{{ member.displayName }} ({{ member.username }})
					<app-icon matChipRemove name="clear"></app-icon>
				</mat-chip>
			</mat-chip-list>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
