<form [formGroup]="form" autocomplete="off" class="flex flex-col">
	<mat-form-field class="w-full">
		<mat-label>{{ "Common.Name" | translate }}</mat-label>
		<input matInput formControlName="name" required />
		<mat-error>Name is missing.</mat-error>
	</mat-form-field>

	<div class="flex gap-2">
		<mat-form-field class="w-full">
			<mat-label>{{ "Property.Assignment.Points" | translate }}</mat-label>
			<input matInput type="number" formControlName="points" required />
			<mat-error>Points are missing.</mat-error>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>{{ "Property.Assignment.BonusPoints" | translate }}</mat-label>
			<input matInput type="number" formControlName="bonusPoints" />
		</mat-form-field>
	</div>

	<div class="flex justify-around">
		<div class="">
			<label class="radio-group-label">{{ "Property.Assignment.Type" | translate }}*</label>
			<mat-radio-group class="radio-group" formControlName="type">
				<mat-radio-button [value]="type" *ngFor="let type of typeEnumValues"
					><student-mgmt-assignment-type-chip
						[type]="type"
					></student-mgmt-assignment-type-chip
				></mat-radio-button>
			</mat-radio-group>
		</div>

		<div class="">
			<label class="radio-group-label"
				>{{ "Property.Assignment.Collaboration" | translate }}*</label
			>
			<mat-radio-group class="radio-group" formControlName="collaboration">
				<mat-radio-button [value]="collaborationEnum.GROUP">
					<student-mgmt-collaboration-type-chip
						[collaborationType]="collaborationEnum.GROUP"
					></student-mgmt-collaboration-type-chip>
				</mat-radio-button>
				<mat-radio-button [value]="collaborationEnum.SINGLE">
					<student-mgmt-collaboration-type-chip
						[collaborationType]="collaborationEnum.SINGLE"
					></student-mgmt-collaboration-type-chip>
				</mat-radio-button>
				<mat-radio-button [value]="collaborationEnum.GROUP_OR_SINGLE">
					<student-mgmt-collaboration-type-chip
						[collaborationType]="collaborationEnum.GROUP_OR_SINGLE"
					></student-mgmt-collaboration-type-chip>
				</mat-radio-button>
			</mat-radio-group>
		</div>

		<div class="">
			<label class="radio-group-label">{{ "Property.Assignment.State" | translate }}*</label>
			<mat-radio-group class="radio-group" formControlName="state">
				<mat-radio-button [value]="stateEnum.IN_PROGRESS">{{
					"Enum.AssignmentState." + stateEnum.IN_PROGRESS | translate
				}}</mat-radio-button>
				<mat-radio-button [value]="stateEnum.CLOSED">{{
					"Enum.AssignmentState." + stateEnum.CLOSED | translate
				}}</mat-radio-button>
				<mat-radio-button [value]="stateEnum.INVISIBLE">{{
					"Enum.AssignmentState." + stateEnum.INVISIBLE | translate
				}}</mat-radio-button>
				<mat-radio-button [value]="stateEnum.IN_REVIEW">{{
					"Enum.AssignmentState." + stateEnum.IN_REVIEW | translate
				}}</mat-radio-button>
				<mat-radio-button [value]="stateEnum.EVALUATED">{{
					"Enum.AssignmentState." + stateEnum.EVALUATED | translate
				}}</mat-radio-button>
			</mat-radio-group>
		</div>
	</div>

	<div class="mt-4">
		<student-mgmt-date-time-picker
			[label]="'Property.Assignment.StartDate' | translate"
			[control]="$any(form.controls['startDate'])"
		></student-mgmt-date-time-picker>

		<student-mgmt-date-time-picker
			[label]="'Property.Assignment.EndDate' | translate"
			[control]="$any(form.controls['endDate'])"
		></student-mgmt-date-time-picker>
	</div>

	<mat-form-field id="comment-field">
		<mat-label>{{ "Property.Assignment.Comment" | translate }}</mat-label>
		<textarea width matInput formControlName="comment" rows="5"></textarea>
	</mat-form-field>

	<div class="links" formArrayName="links">
		<span class="inline-block">
			<span class="mr-4 font-bold">Links</span>
			<button type="button" mat-flat-button color="primary" (click)="addLink()">
				{{ "Action.Add" | translate }}
			</button>
		</span>

		<div
			class="link-form"
			*ngFor="let link of getLinks().controls; let i = index"
			[formGroupName]="i"
		>
			<mat-form-field>
				<mat-label>Name</mat-label>
				<input matInput formControlName="name" required />
			</mat-form-field>

			<mat-form-field>
				<mat-label>URL</mat-label>
				<input matInput formControlName="url" required />
			</mat-form-field>

			<button mat-icon-button class="remove-link-btn" (click)="removeLink(i)">
				<student-mgmt-icon name="clear"></student-mgmt-icon>
			</button>
		</div>
	</div>

	<div class="configs" formArrayName="configs">
		<span class="inline-block">
			<span class="mr-4 font-bold">{{ "Misc.Configs" | translate }}</span>
			<button type="button" color="primary" (click)="addConfig()">
				<student-mgmt-icon icon="add" class="text-white"></student-mgmt-icon>
				<span>{{ "Action.Add" | translate }}</span>
			</button>
		</span>

		<div
			class="config-form"
			*ngFor="let link of getConfigs().controls; let i = index"
			[formGroupName]="i"
		>
			<div class="config-fields">
				<mat-form-field class="w-full">
					<mat-label>Tool</mat-label>
					<input matInput formControlName="tool" required />
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Config</mat-label>
					<input matInput formControlName="config" required />
					<mat-hint>JSON</mat-hint>
				</mat-form-field>

				<button mat-icon-button class="remove-config-btn" (click)="removeConfig(i)">
					<student-mgmt-icon name="clear"></student-mgmt-icon>
				</button>
			</div>
		</div>
	</div>
</form>
