<app-card class="group-card">
	<ng-container title>
		<span *ngIf="participant.isStudent; else nameWithLink">
			{{ group.name }}
		</span>
		<ng-template #nameWithLink>
			<a [routerLink]="[group.id]" class="link-none">
				{{ group.name }}
			</a>
		</ng-template>
	</ng-container>

	<ng-container menu *ngIf="participant.isTeachingStaffMember">
		<mat-menu #groupMenu>
			<ng-container>
				<button mat-menu-item (click)="addParticipant()">
					<mat-icon class="icon-light">person_add</mat-icon
					>{{ "Action.Custom.AddParticipant" | translate }}
				</button>
				<button mat-menu-item (click)="removeGroup()">
					<mat-icon class="icon-light">delete</mat-icon>
					<span class="text-red font-bold">
						{{ "Action.Delete" | translate }}
					</span>
				</button>
			</ng-container>
		</mat-menu>

		<button mat-icon-button [matMenuTriggerFor]="groupMenu" class="menu-btn">
			<mat-icon class="icon-light">more_vert</mat-icon>
		</button>
	</ng-container>

	<ng-container subtitle>
		<div class="chips">
			<app-chip
				*ngIf="group.isClosed"
				color="#ff0134"
				icon="lock"
				[text]="'Property.Group.IsClosed' | translate"
			></app-chip>
			<app-chip
				*ngIf="group.hasPassword"
				color="var(--primary)"
				icon="vpn_key"
				[text]="'Misc.PasswordProtected' | translate"
			></app-chip>
		</div>
	</ng-container>

	<ng-container content>
		<span [class]="cssClass + ' font-bold'">
			{{ "Domain.Members" | translate }}: {{ group.size }}
		</span>
	</ng-container>

	<ng-container footer>
		<button
			*ngIf="participant.isStudent"
			mat-flat-button
			color="accent"
			[disabled]="group.isClosed || group.id === participant.groupId || group.isFull(course)"
			(click)="onJoinGroup()"
		>
			{{ "Action.Join" | translate }}
		</button>

		<div class="member-list" *ngIf="participant.isTeachingStaffMember">
			<a
				class="member link-none font-bold"
				[routerLink]="['/courses', course.id, 'users', member.userId]"
				*ngFor="let member of group.members"
			>
				<button mat-stroked-button>{{ member.displayName }}</button>
			</a>
		</div>
	</ng-container>
</app-card>
