.group-card {
	background-color: var(--card-bg);
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.card-title {
	margin-top: -16px!important;
	margin-bottom: -8px!important;
	align-items: center!important;
	justify-content: space-between;
	display: flex;
	//padding-top: 4px;
	padding-bottom: 8px;

	span {
		.name {
			font-size: 18px;
		}

		mat-icon {
			padding-left: 4px;
			padding-top: 5px;
			font-size: 18px;
			vertical-align: middle;
		}
	}

	.menu-btn {
		margin-right: -16px;
	}
}

.member-info {
	padding-bottom: 8px;	
}

.member-list {
	display: flex;
	padding-bottom: 12px;

	.member:not(:first-child) {
		margin-left: 4px;
	}
}

.group-buttons {
	display: flex;
	justify-content: space-between;
}

