.participant-assessments {
	margin-top: 16px;
	display: grid;
	row-gap: 8px;
}

.assignment {
	display: grid;
	padding: 8px 16px 8px 16px;
	border-radius: 4px;
	background-color: var(--card-bg);
	grid-template-columns: 120px 1fr auto 36px;
	column-gap: 32px;
	align-items: center;
	opacity: 30%;
}

.assignment-and-group-name {
	display: grid;
}

.evaluated {
	opacity: 100%;
}
