<div
	class="participant-assessments mt-4 grid gap-4"
	*ngIf="assignmentsWithAssessments$ | async as assignmentsWithAssessments"
>
	<span class="text-light" *ngIf="assignmentsWithAssessments.length === 0">{{
		"Text.Assessments.NoAssessments" | translate
	}}</span>

	<div
		class="grid items-center gap-4 rounded bg-card-bg px-4 py-2 shadow xl:grid-cols-5"
		[ngStyle]="{ opacity: assignment.state === 'EVALUATED' ? '100%' : '30%' }"
		*ngFor="let assignment of assignmentsWithAssessments"
	>
		<student-mgmt-assignment-type-chip
			[type]="assignment.type"
		></student-mgmt-assignment-type-chip>

		<div class="col-span-2 grid">
			<ng-container *ngIf="assignment.assessment?.id; else noAssessment">
				<a
					class="font-bold"
					[routerLink]="[
						'/courses',
						courseId,
						'assignments',
						assignment.id,
						'assessments',
						'view',
						assignment.assessment.id
					]"
				>
					{{ assignment.name }}
				</a>
			</ng-container>
			<ng-template #noAssessment>
				<div class="text-light">{{ assignment.name }}</div>
			</ng-template>

			<span class="group text-light" *ngIf="assignment.assessment?.group">
				{{ "Domain.Group" | translate }}: {{ assignment.assessment.group.name }}
			</span>
		</div>

		<div class="points">
			<span class="achieved font-bold">
				{{
					assignment.assessment?.achievedPoints !== undefined &&
					assignment.assessment?.achievedPoints !== null
						? assignment.assessment.achievedPoints
						: "-"
				}}</span
			>
			<span class="text-light"> / {{ assignment.points }}</span>
			<span class="text-light" *ngIf="assignment.assessment?.achievedPoints >= 0">
				({{
					((assignment.assessment?.roundedPoints >= 0
						? assignment.assessment?.roundedPoints
						: assignment.assessment.achievedPoints) /
						assignment.points) *
						100 | number: "1.0-2"
				}}%)</span
			>
		</div>

		<student-mgmt-thumb-chip
			class="place-self-center"
			*ngIf="
				assignment.state === 'EVALUATED' &&
				(assignment.assessment?.hasPassed === true ||
					assignment.assessment?.hasPassed === false)
			"
			[condition]="assignment.assessment?.hasPassed"
		></student-mgmt-thumb-chip>
	</div>
</div>
