<ng-container *ngIf="courseFacade.course$ | async as course">

	<div class="course-header">
		<mat-card-title id="title-container">
			<span>{{course.title}}</span>
			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon class="icon-light">settings</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<div id="menu-container">
					<button mat-menu-item (click)="leaveCourse()"><span class="text-red">{{ 'Action.Custom.LeaveCourse' | translate }}</span></button>
				</div>
			</mat-menu>
		</mat-card-title>
	
		<nav mat-tab-nav-bar color="accent"> 
			<ng-container *ngIf="participantFacade.participant$ | async as participant">

				<a mat-tab-link routerLink="assignments" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
					<span class="uppercase">{{ 'Domain.Assignments' | translate }}</span>
				</a>
				<a mat-tab-link routerLink="groups" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive" 
					[routerLinkActiveOptions]="{exact: participant.role === 'STUDENT'}" > <!-- Only match route exact for students to  -->
					<span class="uppercase">{{ 'Domain.Groups' | translate }}</span>
				</a>

				<ng-container *ngIf="participant.role === 'STUDENT'">
					<a *ngIf="participant.groupId" mat-tab-link [routerLink]="['groups', participant.groupId]" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
						<span class="uppercase">{{ 'Common.My' | translate }} {{ 'Domain.Group' | translate }}</span>
					</a>
					<a mat-tab-link [routerLink]="['users', participant.userId]" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive" 
						[routerLinkActiveOptions]="{exact: true}"
					>
						<span class="uppercase">{{ 'Misc.MyProfile' | translate }}</span>
					</a>
				</ng-container>
	
				<ng-container *ngIf="participant?.role === 'LECTURER' || participant?.role === 'TUTOR'">
	
					<a mat-tab-link routerLink="users" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive">
						<span class="uppercase">{{ 'Domain.Participants' | translate }}</span>
					</a>
					<a mat-tab-link routerLink="settings" routerLinkActive #rla5="routerLinkActive" [active]="rla5.isActive">
						<span class="uppercase">{{ 'Misc.Settings' | translate }}</span>
					</a>
	
				</ng-container>

			</ng-container>

		</nav>
	</div>
	  
	<div class="course-content">
		<router-outlet></router-outlet>
	</div>

</ng-container>
