.course-header {
	background-color: var(--color-header);
	padding-left: var(--margin-content);
	padding-right: var(--margin-content);
	padding-top: 8px;
}

.course-content {
	padding-left: var(--margin-content);
	padding-right: var(--margin-content);
	padding-bottom: 4px;
}

#title-container {
	display: flex;
	align-items: center;

	span {
		vertical-align: middle;
	}

	button {
		vertical-align: top;
		margin-left: auto;
		margin-right: -8px;
	}
}
