<div class="vertical-bar-chart">
	<ngx-charts-bar-vertical
		[results]="data"
		[xAxisLabel]="xAxisLabel"
		[yAxisLabel]="yAxisLabel"
		[xAxis]="options.showXAxis"
		[yAxis]="options.showYAxis"
		[showXAxisLabel]="options.showXAxisLabel"
		[showYAxisLabel]="options.showYAxisLabel"
		[showDataLabel]="options.showDataLabel"
		[scheme]="options.colorScheme"
		[customColors]="options.customColors"
		[legend]="options.showLegend"
		[animations]="options.showAnimations"
		[gradient]="options.useGradient"
	>
	</ngx-charts-bar-vertical>
</div>
