<div class="flex flex-col">
	<student-mgmt-title [title]="'Domain.AssessmentAllocations' | translate">
		<button mat-flat-button color="accent" (click)="openCopyFromPreviousDialog()">
			<student-mgmt-icon name="search"></student-mgmt-icon>
			{{ "Action.Custom.CopyFromPrevious" | translate }}
		</button>
	</student-mgmt-title>

	<div class="mb-8 rounded bg-yellow-500 p-4 font-bold">OUT OF ORDER</div>

	<student-mgmt-assessment-target-picker
		[courseId]="courseId"
		[assignmentId]="assignmentId"
	></student-mgmt-assessment-target-picker>
</div>
