<student-mgmt-card>
	<ng-container title>
		<div class="grid gap-2">
			<span>{{ partial.title }}</span>
		</div>
	</ng-container>

	<ng-container subtitle *ngIf="partial.points">
		{{ partial.points }} {{ "Domain.Points" | translate }}
	</ng-container>

	<ng-container content>
		<div *ngIf="partial.draftOnly" class="text-red mb-4">
			{{ "Property.PartialAssessment.DraftOnly" | translate }}.
		</div>

		<div class="comment">
			<pre class="preformatted">{{ partial.comment }}</pre>
		</div>

		<div class="mt-4 grid gap-4" *ngIf="partial.markers?.length > 0">
			<student-mgmt-marker
				*ngFor="let marker of partial.markers"
				[marker]="marker"
			></student-mgmt-marker>
		</div>
	</ng-container>
</student-mgmt-card>
