.selected {
	background-color: rgba(30, 255, 0, 0.116);
}

#filter {
	width: 100%;

	.top {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 8px;
	}

	.checkbox {
		margin-top: -8px;
		margin-bottom: 8px;
	}
}
