#admission-criteria {
	display: flex;
	flex-direction: column;
	padding-bottom: 4px;

	mat-form-field {
		width: 128px;
		margin-right: 8px;
	}

	@media (max-width: 500px) {
		mat-form-field {
			width: 100%;
		}
	}
}

#btn-add-criteria {
	margin-top: 8px;
	margin-bottom: 8px;
	width: fit-content;
}
