<form id="course-creation-form" class="form-container mt-8" [formGroup]="form" autocomplete="off">
	<mat-tab-group
		color="accent"
		animationDuration="0ms"
		[selectedIndex]="selectedIndex"
		(selectedIndexChange)="tabChanged($event)"
	>
		<mat-tab [label]="'Misc.BasicData' | translate">
			<button
				mat-flat-button
				color="accent"
				[disabled]="form.invalid"
				(click)="saveBasicData()"
			>
				{{ "Action.Save" | translate }}
			</button>
			<app-course-form [form]="form" [isEditMode]="true"></app-course-form>
		</mat-tab>

		<ng-container formGroupName="config">
			<mat-tab [label]="'Domain.GroupSettings' | translate">
				<button
					mat-flat-button
					color="accent"
					[disabled]="form.get('config.groupSettings').invalid"
					(click)="saveGroupsSettings()"
				>
					{{ "Action.Save" | translate }}
				</button>
				<app-group-settings-form [form]="form"></app-group-settings-form>
			</mat-tab>

			<mat-tab label="{{ 'Misc.Secrets' | translate }}">
				<ng-template matTabContent>
					<button mat-flat-button color="accent" (click)="saveSecrets()">
						{{ "Action.Save" | translate }}
					</button>
					<div id="secrets">
						<mat-form-field>
							<mat-label>{{ "Common.Password" | translate }}</mat-label>
							<input matInput formControlName="password" />
							<mat-hint>{{ "Text.CourseConfig.Password" | translate }}</mat-hint>
						</mat-form-field>
					</div>
				</ng-template>
			</mat-tab>

			<mat-tab [label]="'Domain.AdmissionCriteria' | translate">
				<button
					mat-flat-button
					color="accent"
					[disabled]="form.get('config.admissionCriteria').invalid"
					(click)="saveAdmissionCriteria()"
				>
					{{ "Action.Save" | translate }}
				</button>
				<app-admission-criteria-form [form]="form"></app-admission-criteria-form>
			</mat-tab>

			<mat-tab [label]="'Domain.AdmissionFromPreviousSemester' | translate">
				<ng-template matTabContent>
					<app-admission-from-previous-semester-form></app-admission-from-previous-semester-form>
				</ng-template>
			</mat-tab>

			<mat-tab [label]="'Domain.AssignmentTemplates' | translate">
				<div id="assignment-templates-tab">
					<button
						type="button"
						id="btn-add-assignment-template"
						mat-flat-button
						color="accent"
						(click)="openCreateAssignmentTemplateDialog()"
					>
						<app-icon name="add"></app-icon
						>{{ "Action.Custom.AddAssignmentTemplate" | translate }}
					</button>

					<div class="assignment-template-list">
						<mat-card *ngFor="let template of assignmentTemplates$ | async">
							<mat-card-title class="assignment-template">
								<span class="left">
									{{ template.templateName }}
								</span>
								<span class="right">
									<button
										mat-stroked-button
										(click)="openEditAssignmentTemplateDialog(template)"
									>
										{{ "Action.Edit" | translate }}
									</button>
									<button
										mat-stroked-button
										color="warn"
										(click)="deleteAssignmentTemplate(template)"
									>
										{{ "Action.Delete" | translate }}
									</button>
								</span>
							</mat-card-title>
						</mat-card>
					</div>
				</div>
			</mat-tab>

			<mat-tab [label]="'Misc.Notifications' | translate">
				<ng-template matTabContent>
					<app-notification-subscribers></app-notification-subscribers>
				</ng-template>
			</mat-tab>
		</ng-container>
	</mat-tab-group>
</form>
