mat-card-title {
	display: flex;
	justify-content: space-between;
}

#basic-data, #lecturers, #secrets {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
	
	mat-form-field {
		width: 100%;
		margin-bottom: 16px;
	}
}

#icon-person-hint {
	vertical-align: middle;
}

#assignment-templates-tab {
	#btn-add-assignment-template {
		margin-top: 8px;
	}
	
	.assignment-template-list {
		display: grid;
		width: 500px;
		row-gap: 8px;
		margin-top: 16px;
	
		.mat-list-item {
			background-color: var(--card-bg);
		}
	}
	
	.assignment-template {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		.left {
			font-weight: 500;
			font-size: 18px;
		}

		.right {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 8px;
		}
	}
}

