mat-card-title {
	display: flex;
	justify-content: space-between;
}

#basic-data, #lecturers, #secrets {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
	
	mat-form-field {
		width: 100%;
		margin-bottom: 16px;
	}
}

#icon-person-hint {
	vertical-align: middle;
}

#assignment-templates-tab {
	#btn-add-assignment-template {
		margin-top: 8px;
	}
	
	.assignment-template-list {
		display: grid;
		width: 500px;
		grid-template-rows: repeat(1fr);
		row-gap: 12px;
	
		.mat-list-item {
			background-color: rgb(240, 240, 240);
			border: 1px solid lightgrey;
		}
	}
	
	.assignment-template {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		.left {
			font-weight: 500;
		}
	}
}

