.header {
	padding: 32px;
	background-color: var(--color-header);
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 8px;
}

.app-name {
	margin-left: auto;
	margin-right: auto;
	font-size: 48px;
	font-weight: 300;
	line-height: 48px;
}

.actions {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;

	button {
		height: 48px;
		width: 180px;
	}
}

#uni-logo-with-text {
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	margin-bottom: 38px;
	height: 256px;
	width: 256px;
}

#logo-text {
	fill: var(--text) !important;
}

#logo-icon {
	fill: var(--accent) !important;
}

.languages {
	margin-bottom: 16px;
	display: flex;
	justify-content: right;
}

.language-buttons {
	height: fit-content;
	display: flex;
	gap: 8px;
}
