<div class="dialog-container" id="login-dialog" *ngIf="authState$ | async as authState">
	<mat-card-title id="dialog-title">Login</mat-card-title>

	<div mat-dialog-content class="dialog-content">
		<mat-form-field class="form-field" appearance="outline">
			<mat-label>{{ 'Property.User.Username' | translate }}</mat-label>
			<input
				[(ngModel)]="username"
				matInput
				type="text"
				name="username"
				id="username"
				(keydown.enter)="onLogin()"
			/>
			<app-icon matSuffix class="icon-light" name="person"></app-icon>
		</mat-form-field>

		<mat-form-field class="form-field" appearance="outline">
			<mat-label>{{ 'Common.Password' | translate }}</mat-label>
			<input
				[(ngModel)]="password"
				matInput
				type="password"
				name="password"
				id="password"
				(keydown.enter)="onLogin()"
			/>
			<app-icon matSuffix class="icon-light" name="lock"></app-icon> </mat-form-field
		><br />

		<div id="error-container" *ngIf="authState.error">
			<mat-error *ngIf="errorMessage">{{errorMessage | translate}}</mat-error>
		</div>

		<div class="loading" *ngIf="authState.isLoading">
			<mat-spinner color="accent" [diameter]="32"></mat-spinner>
		</div>
	</div>

	<div mat-dialog-actions class="dialog-actions">
		<button
			mat-raised-button
			color="accent"
			id="btn-login"
			(click)="onLogin()"
			[disabled]="authState.isLoading"
		>
			Login
		</button>
	</div>
</div>
