<div class="submission-overview">
	<h2>{{ "Domain.Submissions" | translate }} ({{ paginator.totalCount }})</h2>

	<div class="flex gap-2">
		<mat-form-field class="w-full">
			<mat-label>{{ "Property.User.DisplayName" | translate }}</mat-label>
			<input matInput [(ngModel)]="filter.displayName" (keyup)="filterChanged$.next()" />
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>{{ "Domain.Group" | translate }}</mat-label>
			<input matInput [(ngModel)]="filter.groupName" (keyup)="filterChanged$.next()" />
		</mat-form-field>
	</div>

	<table mat-table class="w-full" [dataSource]="dataSource">
		<!-- Date Column -->
		<ng-container matColumnDef="date">
			<th mat-header-cell *matHeaderCellDef>{{ "Common.Date" | translate }}</th>
			<td class="w-48" mat-cell *matCellDef="let row">
				{{ row.date | date: "dd.MM.YYYY (HH:mm:ss)" }}
			</td>
		</ng-container>

		<!-- DisplayName Column -->
		<ng-container matColumnDef="displayName">
			<th mat-header-cell *matHeaderCellDef>{{ "Property.User.DisplayName" | translate }}</th>
			<td class="w-48" mat-cell *matCellDef="let row">
				<a
					class="link-none font-bold"
					[routerLink]="['/courses', courseId, 'users', row.userId]"
					>{{ row.displayName }}</a
				>
			</td>
		</ng-container>

		<!-- GroupName Column -->
		<ng-container matColumnDef="groupName">
			<th mat-header-cell *matHeaderCellDef>{{ "Domain.Group" | translate }}</th>
			<td class="column-group-name" mat-cell *matCellDef="let row">
				<a
					class="link-none font-bold"
					[routerLink]="['/courses', courseId, 'groups', row.groupId]"
					>{{ row.groupName }}</a
				>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>

	<student-mgmt-paginator
		(onPageChanged)="loadSubmissions(courseId, assignmentId)"
	></student-mgmt-paginator>
</div>
