<ng-container *ngIf="courseFacade.course$ | async as course">
	<div class="tab" *ngIf="participant$ | async as participant">

		<button (click)="openCreateGroupDialog()" mat-flat-button id="btn-add" color="accent" [disabled]="!participant?.canCreateGroup()">
			<mat-icon>add</mat-icon>
			{{ 'Action.Custom.AddGroup' | translate }}
		</button>
	
		<ng-container *ngIf="participant?.group">
			<div id="users-group-container">
				<h2>{{ 'Common.My' | translate }} {{ 'Domain.Group' | translate }}</h2>

				<mat-card class="participant-group-card">
					<mat-card-title class="title">
						<a [routerLink]="[participant?.group.id]" class="name link-none">{{participant.group.name}}</a>
					</mat-card-title>
		
					<div class="member-list">
						<a class="member link-none font-bold" [routerLink]="['/courses', courseId, 'users', member.userId]" *ngFor="let member of participant.group.members">
							<button mat-flat-button color="primary">{{member.username}}</button>
						</a>
					</div>
	
					<a [routerLink]="[participant?.group.id]" class="view-group-link">
						<button mat-flat-button color="accent">{{ 'Action.View' | translate }}</button>
					</a>

				</mat-card>

				<div class="warning" *ngIf="warning">
					<span class="WARNING">
						<mat-icon>warning</mat-icon>
						{{ warning }}
					</span>
				</div>
			</div>
		
			<mat-divider class="divider"></mat-divider>
		</ng-container>
	
		<div class="groups">
	
			<h2 class="heading-groups">{{ 'Domain.Groups' | translate }}: ({{totalCount}})</h2>
	
			<div class="group-filter">
				<div class="checkboxes">
					<mat-checkbox [(ngModel)]="filter.onlyOpen" (change)="filterSubject.next()">
						{{ 'Common.Open' | translate }}
					</mat-checkbox>
					<mat-checkbox [(ngModel)]="filter.onlyClosed" (change)="filterSubject.next()">
						{{ 'Common.Closed' | translate }}
					</mat-checkbox>
				</div>
		
				<mat-form-field class="groupname-filter">
					<mat-label>{{ 'Property.Group.Name' | translate }}</mat-label>
					<input matInput [(ngModel)]="filter.name" (keyup)="nameFilterChangedSubject.next()" autocomplete="off">
				</mat-form-field>
			</div>
	
			<div class="groups-grid" *ngIf="groups$ | async as groups">
				<ng-container *ngFor="let group of groups">
					<app-group-card
						[group]="group" [participant]="participant" [course]="course"
						(onRemoveGroup)="onRemoveGroup($event)"
						(onAddParticipant)="onAddParticipant($event)"
					>
				</app-group-card>
				</ng-container>
			</div>
	
		</div>
	
		<div 
			infiniteScroll 
			[infiniteScrollDistance]="2" 
			[infiniteScrollThrottle]="500" 
			(scrolled)="onScroll()"
			[infiniteScrollContainer]="'.mat-drawer-content'" 
			[fromRoot]="true">
		</div>
		
	</div>
	
</ng-container>
