#btn-add {
	margin-bottom: 8px;
}

.participant-group-card {	
	margin-top: -8px;
	width: fit-content;

	.title {
		margin-top: -8px;
		font-size: 18px;
	}

	.member-list {
		display: flex;
		padding-bottom: 12px;
	
		.member:not(:first-child) {
			margin-left: 4px;
		}
	}
}

.divider {
	margin-top: 24px;
	margin-bottom: 16px;
}

.group-filter {
	display: flex;
	flex-direction: column;
	margin-top: -8px;
}

.checkboxes {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}

.groups-grid {
	display: grid;
	column-gap: 16px;
	row-gap: 16px;
	grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
	grid-auto-rows: 1fr;

	@media (min-width: 1440px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
