<ng-container *ngIf="courseFacade.course$ | async as course">
	<div class="tab" *ngIf="participant$ | async as participant">
		<button
			mat-flat-button
			id="btn-add"
			color="accent"
			(click)="openCreateGroupDialog()"
			[disabled]="!course.groupSettings.allowGroups"
		>
			<mat-icon>add</mat-icon>
			{{ "Action.Custom.AddGroup" | translate }}
		</button>

		<div class="groups">
			<h2 class="heading-groups">{{ "Domain.Groups" | translate }}: ({{ totalCount }})</h2>

			<div class="group-filter">
				<div class="checkboxes">
					<mat-checkbox [(ngModel)]="filter.onlyOpen" (change)="filterSubject.next()">
						{{ "Common.Open" | translate }}
					</mat-checkbox>
					<mat-checkbox [(ngModel)]="filter.onlyClosed" (change)="filterSubject.next()">
						{{ "Common.Closed" | translate }}
					</mat-checkbox>
					<mat-checkbox [(ngModel)]="filter.excludeEmpty" (change)="filterSubject.next()">
						{{ "Misc.ExcludeEmptyGroups" | translate }}
					</mat-checkbox>
				</div>

				<mat-form-field class="name-filter">
					<mat-label>Filter</mat-label>
					<input
						matInput
						[(ngModel)]="filter.name"
						(keyup)="filterSubject.next()"
						autocomplete="off"
					/>
				</mat-form-field>
			</div>

			<div class="groups-grid" *ngIf="groups$ | async as groups">
				<ng-container *ngFor="let group of groups">
					<app-group-card
						[group]="group"
						[participant]="participant"
						[course]="course"
						(onRemoveGroup)="onRemoveGroup($event)"
						(onAddParticipant)="onAddParticipant($event)"
					>
					</app-group-card>
				</ng-container>
			</div>
		</div>
	</div>
</ng-container>
