.group-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
	column-gap: 16px;
	row-gap: 16px;

	.group-card {
		height: 64px;
		background-color: rgb(224, 224, 224);
		padding: 8px 8px 0px 8px;

		display: flex;
		flex-direction: column;

		.top {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			font-weight: 500;
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			.bottom-left {

			}
			.bottom-right {
				font-size: 18px;
				font-weight: 500;
				transform: translateY(25%);
			}
		}
	}
}

#btn-add {
	margin-bottom: 8px;
}
