<form class="grid gap-4" id="assessment-form" [formGroup]="form" autocomplete="off">
	<student-mgmt-card>
		<ng-container title>{{ "Common.Total" | translate }}</ng-container>

		<ng-container content>
			<div class="grid">
				<span id="points-container">
					<mat-form-field>
						<mat-label>{{ "Domain.Points" | translate }}</mat-label>
						<input matInput mat-form type="number" formControlName="achievedPoints" />
					</mat-form-field>
					<span>
						/ {{ assignment?.points }}
						<ng-container *ngIf="assignment?.bonusPoints"
							>({{ assignment.bonusPoints }}
							{{ "Property.Assignment.BonusPoints" | translate }})</ng-container
						>
					</span>
				</span>

				<ng-container *ngIf="getErrors()">
					<mat-error *ngFor="let error of getErrors()" class="mb-4">
						{{ error | translate }}
					</mat-error>
				</ng-container>

				<mat-form-field appearance="outline" class="comment-field">
					<mat-label>{{ "Property.Assessment.Comment" | translate }}</mat-label>
					<textarea rows="5" matInput class="w-full" formControlName="comment"></textarea>
				</mat-form-field>
			</div>
		</ng-container>
	</student-mgmt-card>

	<div
		id="partial-assessments"
		formArrayName="partialAssessments"
		*ngFor="let partial of getPartialAssessments()?.controls; let i = index"
	>
		<div class="partial-assessment-form" [formGroup]="getPartialAssessment(i)">
			<div class="mb-2">
				<mat-slide-toggle formControlName="draftOnly">
					{{ "Property.PartialAssessment.DraftOnly" | translate }}
				</mat-slide-toggle>
			</div>

			<mat-form-field>
				<mat-label>{{ "Property.PartialAssessment.Title" | translate }}</mat-label>
				<input matInput formControlName="title" required />
				<mat-error>{{ "Error.ValueMissing" | translate }}</mat-error>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Key</mat-label>
				<input matInput formControlName="key" />
			</mat-form-field>

			<mat-form-field>
				<mat-label>{{ "Property.PartialAssessment.Points" | translate }}</mat-label>
				<input class="points-input" matInput type="number" formControlName="points" />
			</mat-form-field>

			<mat-form-field appearance="outline" class="comment-field">
				<mat-label>{{ "Property.PartialAssessment.Comment" | translate }}</mat-label>
				<textarea rows="5" matInput class="w-full" formControlName="comment"></textarea>
			</mat-form-field>

			<div class="mt-4 markers-outer">
				<div class="flex justify-between">
					<h2>Markers</h2>

					<div class="flex marker-buttons gap-2">
						<button mat-flat-button class="btn-info" (click)="addMarker(i, 'INFO')">
							<student-mgmt-icon name="add"></student-mgmt-icon>
							INFO
						</button>

						<button mat-flat-button class="btn-hint" (click)="addMarker(i, 'HINT')">
							<student-mgmt-icon name="add"></student-mgmt-icon>
							HINT
						</button>

						<button
							mat-flat-button
							class="btn-warning"
							(click)="addMarker(i, 'WARNING')"
						>
							<student-mgmt-icon name="add"></student-mgmt-icon>
							WARNING
						</button>

						<button mat-flat-button class="btn-error" (click)="addMarker(i, 'ERROR')">
							<student-mgmt-icon name="add"></student-mgmt-icon>
							ERROR
						</button>
					</div>
				</div>

				<div class="markers">
					<div *ngFor="let marker of getMarkers(i).controls; let markerIndex = index">
						<div class="flex marker-actions">
							<button
								mat-icon-button
								color="accent"
								(click)="editMarker(marker.value, i, markerIndex)"
							>
								<student-mgmt-icon
									class="icon-light"
									name="edit"
								></student-mgmt-icon>
							</button>
							<button
								mat-icon-button
								color="primary"
								(click)="removeMarker(i, markerIndex)"
							>
								<student-mgmt-icon
									class="text-red"
									name="clear"
								></student-mgmt-icon>
							</button>
						</div>
						<student-mgmt-marker [marker]="marker.value"></student-mgmt-marker>
					</div>
				</div>
			</div>

			<div class="flex mt-4">
				<button
					class="fit-content btn-remove-partial"
					type="button"
					color="warn"
					mat-flat-button
					[matTooltip]="'Action.Remove' | translate"
					(click)="removePartialAssessment(i)"
				>
					{{ "Action.Remove" | translate }}
				</button>
			</div>
		</div>
	</div>

	<button
		type="button"
		mat-flat-button
		class="btn-add-partial-assessment"
		color="primary"
		(click)="addPartialAssessment()"
	>
		{{ "Action.Custom.AddPartialAssessment" | translate }}
	</button>
</form>
