<div id="create-assessment-container" class="tab">
	<div class="title-container flex space-between">
		<h2>{{ "Title.CreateAssessment" | translate }}</h2>

		<div class="save-actions flex g-8">
			<button
				mat-flat-button
				color="accent"
				class="fit-content"
				[disabled]="form.form.invalid"
				(click)="onSave()"
			>
				{{ "Action.Create" | translate }}
			</button>
		</div>
	</div>

	<div class="flex g-8">
		<button mat-flat-button color="primary" (click)="openSearchGroupDialog()">
			<app-icon name="search"></app-icon>
			{{ "Title.SearchGroup" | translate }}
		</button>

		<button mat-flat-button color="primary" (click)="openSearchParticipantDialog()">
			<app-icon name="search"></app-icon>
			{{ "Title.SearchParticipant" | translate }}
		</button>
	</div>

	<ng-container
		*ngIf="{ forGroup: forGroup$ | async, forParticipant: forParticipant$ | async } as obs"
	>
		<div
			class="assessment-target mt-16"
			*ngIf="obs.forGroup || obs.forParticipant; else selectGroupOrParticipantText"
		>
			<app-assessment-target
				[group]="obs.forGroup"
				[targetedParticipant]="obs.forParticipant"
				[participant]="participantFacade.participant$ | async"
				[courseId]="courseId"
			>
			</app-assessment-target>
		</div>

		<ng-template #selectGroupOrParticipantText>
			<div class="mt-16 text-light">
				{{ "Text.Assessment.SelectGroupOrParticipant" | translate }}
			</div>
		</ng-template>
	</ng-container>

	<div class="mt-16">
		<app-assessment-form [assignment]="assignment$ | async"></app-assessment-form>
	</div>

	<div class="mt-16">
		<button
			mat-raised-button
			color="accent"
			id="btn-create"
			[disabled]="form.form.invalid"
			(click)="onSave()"
		>
			{{ "Action.Create" | translate }}
		</button>
	</div>
</div>
