.assignment {
	background-color: var(--card-bg);
	width: 500px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	padding-bottom: 8px!important;
}

.comment {
	text-align: justify;
	padding-bottom: 8px;
}

.links {
	margin-top: -4px;
	padding-bottom: 8px;
	display: flex;

	a {
		margin-right: 8px;
	}
}

.assignment-card-title {
	margin-top: -16px!important;
	margin-bottom: -8px!important;
	align-items: center!important;
	justify-content: space-between;
	display: flex;
	padding-bottom: 12px;

	.name {
		padding-top: 2px;
		font-size: 18px;
	}

	.menu-btn {
		margin-right: -16px;
	}
}

.chips {
	margin-bottom: 16px;

	mat-chip {
		justify-content: space-between;
		
		mat-icon {
			margin-right: 8px;
		}
	}
}

.collaboration {
	mat-icon {
		vertical-align: text-bottom;
	}

	.collaboration-type {
		vertical-align: text-top;
	}
}

.dates {
	margin-bottom: 12px;
	display: flex;
	flex-direction: column;
}

.type-chip {
	color: white!important;
}

.HOMEWORK { 
	background-color: rgb(0, 89, 255)!important;
}

.TESTAT {
	background-color: rgb(194, 149, 0)!important;
}

.warning {
	mat-icon {
		margin-right: 8px;
		vertical-align: sub;
	}
}

.group-title {
	font-size: 16px;
}

.member-list {
	display: grid;
	row-gap: 8px;
	margin-bottom: 8px;
}

.member-card {
	padding-top: 8px!important;
	padding-bottom: 8px!important;

	background-color: var(--color-header)!important;
}

.member-card-title {
	font-size: 16px;
}

.actions a {
	margin-right: 8px;
}	
