<app-card class="assignment-card">
	<ng-container title>
		<span class="font-bold name" data-assignment-name>
			<a
				class="link-none"
				[routerLink]="[assignment.id, 'assessments']"
				*ngIf="participant.isTeachingStaffMember; else noLink"
			>
				{{ assignment.name }}
			</a>
			<ng-template #noLink>
				{{ assignment.name }}
			</ng-template>
		</span>
		<span class="state" [ngSwitch]="assessmentState$ | async">
			<app-chip
				*ngSwitchCase="'submitted'"
				color="#14abb3"
				icon="assignment_turned_in"
				text="Abgegeben"
			></app-chip>
			<app-chip
				*ngSwitchCase="'passed'"
				color="#2fac6f"
				icon="thumb_up"
				[text]="'Property.Assessment.HasPassed' | translate"
			></app-chip>
			<app-chip
				*ngSwitchCase="'failed'"
				color="#ff0134"
				icon="thumb_down"
				[text]="'Domain.Failed' | translate"
			></app-chip>
			<app-chip
				*ngSwitchCase="'evaluated'"
				color="#5335b0"
				icon="assignment_turned_in"
				text="Bewertet"
			></app-chip>
		</span>
	</ng-container>

	<ng-container subtitle>
		<span>
			<span>{{ assignment.points }} {{ "Domain.Points" | translate }}</span>
			<span *ngIf="assignment.bonusPoints > 0">
				(+{{ assignment.points }} {{ "Property.Assignment.BonusPoints" | translate }})
			</span>
			<span *ngIf="requiredPoints">
				- {{ "Common.Required" | translate }}: {{ requiredPoints }}
				{{ "Domain.Points" | translate }}</span
			>
			<span *ngIf="(assessment$ | async)?.achievedPoints as achievedPoints">
				- Erreicht: {{ achievedPoints }} {{ "Domain.Points" | translate }}
			</span>
		</span>
	</ng-container>

	<ng-container menu *ngIf="participant.isTeachingStaffMember">
		<button mat-icon-button [mat-menu-trigger-for]="assignmentMenu">
			<app-icon name="more_vert"></app-icon>
		</button>

		<mat-menu #assignmentMenu>
			<ng-container *ngIf="participant.isTeachingStaffMember">
				<button mat-menu-item (click)="openEditDialog()">
					<app-icon class="mr-16 icon-light" name="edit"></app-icon>
					<span class="font-bold">{{ "Action.Edit" | translate }}</span>
				</button>
				<button mat-menu-item (click)="onDelete()">
					<app-icon class="mr-16 icon-light" name="delete"></app-icon>
					<span class="font-bold text-red">
						{{ "Action.Delete" | translate }}
					</span>
				</button>
			</ng-container>
		</mat-menu>
	</ng-container>

	<ng-container content>
		<div class="chips">
			<app-assignment-type-chip [type]="assignment.type"></app-assignment-type-chip>

			<ng-container [ngSwitch]="assignment.collaboration">
				<app-chip
					*ngSwitchCase="collaborationEnum.GROUP"
					icon="groups"
					color="#009664"
					[text]="'Enum.CollaborationType.' + assignment.collaboration | translate"
				></app-chip>
				<app-chip
					*ngSwitchCase="collaborationEnum.GROUP_OR_SINGLE"
					icon="groups"
					color="#00838f"
					[text]="'Enum.CollaborationType.' + assignment.collaboration | translate"
				></app-chip>
				<app-chip
					*ngSwitchCase="collaborationEnum.SINGLE"
					icon="person"
					color="#7f23c5"
					[text]="'Enum.CollaborationType.' + assignment.collaboration | translate"
				></app-chip>
				<app-chip *ngSwitchDefault></app-chip>
			</ng-container>
		</div>

		<div class="flex-column" *ngIf="assignment.startDate || assignment.endDate">
			<span class="startdate" *ngIf="assignment.startDate">
				<span class="font-bold uppercase x text-green"
					>{{ "Common.Start" | translate }}:</span
				>
				{{ assignment.startDate | date: "dd.MM.YYYY (HH:mm)" }}
			</span>
			<span class="enddate" *ngIf="assignment.endDate">
				<span class="font-bold uppercase x text-red">{{ "Common.End" | translate }}:</span>
				{{ assignment.endDate | date: "dd.MM.YYYY (HH:mm)" }}
			</span>
		</div>

		<div class="comment" *ngIf="assignment.comment">
			<pre class="preformatted">{{ assignment.comment }}</pre>
		</div>

		<div class="links" *ngIf="assignment.links?.length > 0">
			<a class="link-none" *ngFor="let link of assignment.links" [href]="link.url"
				>#{{ link.name }}</a
			>
		</div>

		<div class="group" *ngIf="group$ | async as group">
			<a
				class="font-bold group-title link-none"
				[routerLink]="['/courses', courseId, 'groups', group.id]"
				>{{ group.name }}
			</a>

			<div class="member-list">
				<div class="member" *ngFor="let member of group.members">
					<ng-container *ngIf="participant.userId !== member.userId">
						<span class="member-name">
							{{ member.displayName }}
						</span>

						<a
							class="text-light link-none"
							[href]="'mailto:' + member.email"
							*ngIf="member.email"
						>
							Email: {{ member.email }}
						</a>
					</ng-container>
				</div>
			</div>
		</div>

		<span class="warning WARNING" *ngIf="warning">
			<app-icon name="warning"></app-icon>
			<span class="warning-text">{{ warning }}</span>
		</span>
	</ng-container>

	<ng-container footer>
		<button
			mat-stroked-button
			*ngIf="participant.isStudent && assignment.state === 'EVALUATED'"
			(click)="goToAssessment()"
		>
			{{ "Domain.Assessment" | translate }}
		</button>

		<ng-container *ngIf="participant.isTeachingStaffMember">
			<a class="link-none" [routerLink]="[assignment.id, 'assessments']">
				<button mat-stroked-button>
					{{ "Domain.Assessments" | translate }}
				</button>
			</a>
			<a
				class="link-none"
				[routerLink]="[assignment.id, 'assessments', 'registrations']"
				*ngIf="assignment.collaboration !== collaborationEnum.SINGLE"
			>
				<button mat-stroked-button>
					{{ "Domain.Registrations" | translate }}
				</button>
			</a>
		</ng-container>
	</ng-container>
</app-card>
