.assignment {
	background-color: var(--card-bg);
	width: 500px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
}

.description {
	
}

.assignment-card-title {
	margin-top: -16px!important;
	margin-bottom: -8px!important;
	align-items: center!important;
	justify-content: space-between;
	display: flex;
	//padding-top: 4px;
	padding-bottom: 12px;

	.name {
		font-size: 18px;
	}

	.menu-btn {
		margin-right: -16px;
	}
}

.chips {
	margin-bottom: 16px;

	mat-chip {
		justify-content: space-between;
		
		mat-icon {
			margin-right: 8px;
		}
	}
}

.collaboration {
	mat-icon {
		vertical-align: text-bottom;
	}

	.collaboration-type {
		vertical-align: text-top;
	}
}

.dates {
	margin-bottom: 12px;
	display: flex;
	flex-direction: column;
}

.type-chip {
	color: white!important;
}

.HOMEWORK { 
	background-color: rgb(0, 89, 255)!important;
}

.TESTAT {
	background-color: rgb(194, 149, 0)!important;
}

.warning {
	mat-icon {
		margin-right: 8px;
		vertical-align: sub;
	}
}

.group-title {
	font-size: 16px;
}

.member-list {
	display: flex;

	.member:not(:first-child) {
		margin-left: 4px;
	}
}
