.notification-subscribers {
	padding-bottom: 32px;
}

.btn-add {
	margin-top: 8px;
	margin-bottom: 8px;
}

pre {
	max-width: 800px;
	margin: 0;
}

.subscribers {
	display: grid;
	row-gap: 16px;
	max-width: 500px;
}
