.rules {
	display: grid;
	row-gap: 8px;
}

.charts {
	margin-top: 16px;
}

.chart-grid {
	display: grid;
	row-gap: 64px;
}

.chart {
	display: flex;
	flex-direction: column;
}

.chart-description {
	margin-top: 8px;
	display: flex;
	justify-content: center;
	gap: 8px;
	align-items: center;
}

.statistics {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.participants {
	padding-top: 16px;
}

.name-column {
	width: 128px;
	padding-right: 16px;
}

mat-spinner {
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
}
