<div class="flex flex-col" *ngIf="criteria$ | async as criteria">
	<student-mgmt-title [title]="'Title.AdmissionStatus' | translate">
		<div class="flex gap-2">
			<a [routerLink]="['/courses', courseId, 'settings']" fragment="admission-criteria"
				><button mat-flat-button color="accent">
					{{ "Action.Custom.EditAdmissionCriteria" | translate }}
				</button></a
			>
			<button mat-stroked-button (click)="exportToExcel()">Export</button>
		</div>
	</student-mgmt-title>

	<div class="admission-criteria">
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				{{ "Domain.AdmissionCriteria" | translate }}
			</mat-expansion-panel-header>
			<div class="rules" *ngIf="criteria; else noAdmissionCriteria">
				<ng-container *ngFor="let rule of criteria.rules; let i = index">
					<student-mgmt-admission-rule
						[rule]="rule"
						[index]="i"
					></student-mgmt-admission-rule>
				</ng-container>
			</div>

			<ng-template #noAdmissionCriteria>
				{{ "Common.None" | translate }}
			</ng-template>
		</mat-expansion-panel>
	</div>

	<mat-spinner *ngIf="(admissionStatusState$ | async).isLoading" diameter="32"></mat-spinner>

	<div class="charts">
		<mat-expansion-panel>
			<mat-expansion-panel-header> Charts </mat-expansion-panel-header>
			<div class="chart-grid">
				<div
					class="chart"
					*ngFor="let chart of charts$ | async as charts; let index = index"
				>
					<student-mgmt-vertical-bar-chart
						[data]="chart.data"
						[xAxisLabel]="chart.xAxisLabel | translate"
						[yAxisLabel]="chart.yAxisLabel | translate"
					></student-mgmt-vertical-bar-chart>

					<span class="chart-description">
						<span class="font-bold">
							{{
								"Enum.RuleType." + chart.rule.type
									| translate
										: {
												requiredPercent: chart.rule.requiredPercent,
												allowedFailures: chart.rule["allowedFailures"]
										  }
							}}
						</span>

						<student-mgmt-assignment-type-chip
							[type]="chart.rule.assignmentType"
						></student-mgmt-assignment-type-chip>
					</span>

					<div class="statistics">
						<ng-container *ngFor="let stat of ruleStatistics[index]">
							<student-mgmt-stat-card
								[title]="stat.title | translate"
								[value]="stat.value"
							></student-mgmt-stat-card>
						</ng-container>
					</div>

					<mat-divider *ngIf="index !== charts.length - 1"></mat-divider>
				</div>
			</div>
		</mat-expansion-panel>
	</div>

	<div class="participants">
		<h3>{{ "Domain.Participants" | translate }} ({{ dataSource.data?.length || 0 }})</h3>

		<div class="statistics mb-4">
			<ng-container *ngFor="let stat of overallStatistics">
				<student-mgmt-stat-card
					[title]="stat.title | translate"
					[value]="stat.value"
				></student-mgmt-stat-card>
			</ng-container>
		</div>

		<mat-form-field class="w-full">
			<mat-label>Filter</mat-label>
			<input matInput #filter [(ngModel)]="dataSource.filter" />
		</mat-form-field>

		<table class="w-full" mat-table matSort [dataSource]="dataSource">
			<ng-container matColumnDef="displayName">
				<th class="name-column" mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let row">
					<a
						class="link-none font-bold"
						[routerLink]="['/courses', courseId, 'users', row.participant.userId]"
					>
						{{ row.participant.displayName }}
					</a>
				</td>
			</ng-container>

			<ng-container matColumnDef="matrNr">
				<th mat-header-cell *matHeaderCellDef>MatrNr</th>
				<td mat-cell *matCellDef="let row">
					<a
						class="link-none font-bold"
						[routerLink]="['/courses', courseId, 'users', row.participant.userId]"
					>
						{{ row.participant.matrNr || "??????" }}
					</a>
				</td>
			</ng-container>

			<ng-container matColumnDef="hasAdmission">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>
					{{ "Domain.Admission" | translate }}
				</th>
				<td mat-cell *matCellDef="let row">
					<ng-container
						*ngTemplateOutlet="yesNoText; context: { $implicit: row.hasAdmission }"
					></ng-container>

					<!-- <student-mgmt-thumb-chip
						[condition]="row.hasAdmission"
					></student-mgmt-thumb-chip> -->
				</td>
			</ng-container>

			<ng-container matColumnDef="fulfillsAdmissionCriteria">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>Kriterien erfüllt</th>
				<td mat-cell *matCellDef="let row">
					<ng-container
						*ngTemplateOutlet="
							yesNoText;
							context: { $implicit: row.fulfillsAdmissionCriteria }
						"
					></ng-container>
				</td>
			</ng-container>

			<ng-container matColumnDef="hasAdmissionFromPreviousSemester">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>Altzulassung</th>
				<td mat-cell *matCellDef="let row">
					<ng-container
						*ngTemplateOutlet="
							yesNoText;
							context: { $implicit: row.hasAdmissionFromPreviousSemester }
						"
					></ng-container>
				</td>
			</ng-container>

			<ng-container *ngFor="let rule of criteria?.rules; let i = index">
				<ng-container [matColumnDef]="'rule' + i">
					<th class="rule-column" mat-header-cell *matHeaderCellDef>
						<div class="rule-info">
							<span>{{ "Common.Criteria" | translate }} #{{ i }}</span>
						</div>
					</th>
					<td class="result" mat-cell *matCellDef="let row">
						<div class="font-bold">
							<ng-container
								*ngTemplateOutlet="
									yesNoText;
									context: { $implicit: row.results[i].passed }
								"
							></ng-container>
							({{ row.results[i].achievedPoints }} -
							{{
								row.results[i].achievedPercent !== undefined &&
								row.results[i].achievedPercent !== null
									? (row.results[i].achievedPercent | number: "1.0-2")
									: "NaN"
							}}%)
						</div>
					</td>
				</ng-container>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>
	</div>
</div>

<ng-template #yesNoText let-passed>
	<span *ngIf="passed; else no" class="font-bold text-green-600">{{
		"Common.Yes" | translate
	}}</span>
	<ng-template #no>
		<span class="font-bold text-red-500">{{ "Common.No" | translate }}</span>
	</ng-template>
</ng-template>
