<ng-container [ngSwitch]="type">
	<app-chip
		*ngSwitchCase="typeEnum.HOMEWORK"
		icon="assignment"
		color="#2B5592"
		[text]="'Enum.AssignmentType.' + type | translate"
	></app-chip>
	<app-chip
		*ngSwitchCase="typeEnum.TESTAT"
		icon="grade"
		color="#ff8000"
		[text]="'Enum.AssignmentType.' + type | translate"
	></app-chip>
	<app-chip
		*ngSwitchCase="typeEnum.PROJECT"
		icon="build"
		color="#96003a"
		[text]="'Enum.AssignmentType.' + type | translate"
	></app-chip>
	<app-chip
		*ngSwitchCase="typeEnum.SEMINAR"
		icon="description"
		color="#5442f5"
		[text]="'Enum.AssignmentType.' + type | translate"
	></app-chip>
	<app-chip
		*ngSwitchCase="typeEnum.OTHER"
		icon="help"
		color="#7a7a7a"
		[text]="'Enum.AssignmentType.' + type | translate"
	></app-chip>
	<app-chip *ngSwitchDefault></app-chip>
</ng-container>
