.sidenav-container {
	height: 100%;
}

.sidenav {
	width: 240px;
	margin-top: var(--titlebar-height);
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 3; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	border: transparent;
	background-color: var(--color-sidenav);
	student-mgmt-icon {
		color: rgba(0, 0, 0, 0.6);
	}
}

.sidenav-sections {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 8px);
}

.sidenav .mat-toolbar {
	background: inherit;
}

.sidenav student-mgmt-icon {
	margin-right: 24px;
	padding-left: 8px;
	color: var(--text-light);
}

.sidenav a {
	height: 40px;
	font-size: 14px;
	font-weight: 400;
}

.sidenav a:hover {
	background-color: var(--link-active-bg);
}

.router-link-active {
	background-color: var(--link-active-bg);
	font-weight: 500 !important;

	student-mgmt-icon {
		color: var(--link-active);
	}
}

.titlebar {
	display: flex;
	background-color: var(--color-titlebar);
	justify-content: space-between;
	height: var(--titlebar-height);
	top: 0;
	position: fixed;
	z-index: 2;
}

#logo {
	margin: 8px;
	path {
		fill: var(--accent) !important;
	}
}

#app-name,
#logo {
	@media only screen and (max-width: 600px) {
		display: none;
	}
}

#nav-left {
	display: flex;
	align-items: center;
}

#nav-right {
	display: flex;
	align-items: center;

	a {
		padding-left: 16px;
		font-size: 14px;
		color: inherit;
		text-decoration: none;
	}

	mat-select {
		width: max-content;
		color: black;
		z-index: 2;
		padding-right: 16px;
		font-size: 16px;
	}
}

.btn-logout {
	margin-left: 4px;
	margin-right: 4px;
}

#language-select {
	font-size: 12px;

	::ng-deep .mat-form-field-underline {
		display: none;
	}
}

.course-membership-list {
	mat-divider {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	#my-courses {
		color: var(--text-light);
		font-size: 14px;
		font-weight: 500;
		padding-left: 26px;
		margin-bottom: 16px;
	}

	a {
		font-size: 12px;

		student-mgmt-icon {
			width: 20;
			padding-right: 8px;
			padding-left: 16px;
		}
	}
}
