<ng-container *ngIf="userParticipant$ | async as userParticipant">
	<div class="tab" *ngIf="participant$ | async as participant">

		<h2 class="title">{{participant.displayName}}</h2>
		
		<div class="mini-profile">
			<div class="info">
				<span>
					<span class="font-bold">{{ 'Property.User.Email' | translate }}: </span>
					<span>{{participant.email}}</span>
				</span>
		
				<span>
					<span class="font-bold">{{ 'Property.User.Username' | translate }}: </span>
					<span>{{participant.username}}</span>
				</span>
		
				<span>
					<span class="font-bold">{{ 'Property.User.Role' | translate }}: </span>
					<span>{{ 'Enum.CourseRole.' + participant.role | translate }}</span>
				</span>

				<span *ngIf="participant.group">
					<span class="font-bold">{{ 'Domain.Group' | translate }}: </span>
					<a class="link-none" [routerLink]="['/courses', courseId, 'groups', participant.groupId]" *ngIf="userParticipant.isTeachingStaffMember || isViewingOwnProfile(userParticipant); else groupWithoutLink">
						{{participant.group.name}}
					</a>
					<ng-template #groupWithoutLink>
						<span>{{participant.group.name}}</span>
					</ng-template>
				</span>
			</div>

		</div>

		<ng-container *ngIf="(showFullProfile$ | async) && participant.role === 'STUDENT'">
			<nav class="nav" mat-tab-nav-bar color="accent"> 
				<a mat-tab-link [routerLink]="['/courses', courseId, 'users', userId]" routerLinkActive [routerLinkActiveOptions]="{exact: true}" #rla1="routerLinkActive" [active]="rla1.isActive">
					<span class="uppercase">{{ 'Domain.Assessments' | translate }}</span>
				</a>
				<a mat-tab-link [routerLink]="['/courses', courseId, 'users', userId, 'admission-status']" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
					<span class="uppercase">{{ 'Title.AdmissionStatus' | translate }}</span>
				</a>
			</nav>
	
			<div class="profile-content">
				<router-outlet></router-outlet>
			</div>
		</ng-container>
	
	</div>
</ng-container>
