#search-user-dialog {
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 900px;
}

.dialog-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#userFilter-container {
	display: grid;
	margin-bottom: 8px;
	column-gap: 8px;
	grid-template-columns: auto 20%;
}

::ng-deep .mat-form-field-wrapper{
	margin-bottom: -1.25em;
}

.column-select {
	padding-right: 16px;
}

.column-title {
	width: 50%;
}
