.course-list-container {
	padding-top: 16px;
	padding-left: var(--margin-default);
	padding-right: var(--margin-default);
}

.title {
	display: flex;
	align-items: center;
	padding-bottom: 16px;
}

.btn-add {
	margin-left: 16px;
}

.courseFilter-container {
	max-width: 500px;
	display: grid;
	grid-template-columns: 4fr 1fr 1fr;
	column-gap: 8px;
	align-items: center;

	#btn-search {
		width: fit-content;
		height: fit-content;
	}
}

.column-title {
	width: 20rem;
}
