<div id="assessment-overview-container">
	<nav mat-tab-nav-bar color="accent">
		<a
			mat-tab-link
			routerLink="created"
			routerLinkActive
			#rla1="routerLinkActive"
			[active]="rla1.isActive"
		>
			{{ "Domain.Assessments" | translate }}
		</a>
		<a
			mat-tab-link
			routerLink="registrations"
			routerLinkActive
			#rla2="routerLinkActive"
			[active]="rla2.isActive"
		>
			{{ "Domain.RegisteredGroups" | translate }}
		</a>
		<a
			mat-tab-link
			routerLink="allocations"
			routerLinkActive
			#rla3="routerLinkActive"
			[active]="rla3.isActive"
		>
			{{ "Domain.AssessmentAllocations" | translate }}
		</a>
	</nav>

	<div class="tab">
		<ng-container *ngIf="selectedAssignment.selectedAssignment$ | async as assignment">
			<h2 class="assignment-name">{{ assignment.name }}</h2>
			<router-outlet></router-outlet>
		</ng-container>
	</div>
</div>
