<div id="created-assessments-container">

	<div class="flex space-between">
		<a [routerLink]="['/courses', courseId, 'assignments', assignmentId, 'assessments', 'editor', 'create']" 
		[matTooltip]="createAssessmentButton.disabled ? ('Error.AssignmentNotInReview' | translate) : ''"
		>
		<button #createAssessmentButton mat-flat-button color="accent" id="btn-create-assessment" [disabled]="assignment?.state !== stateEnum.INREVIEW">
			<mat-icon>add</mat-icon>{{ 'Title.CreateAssessment' | translate }}
		</button>
		</a>

		<button mat-stroked-button (click)="download()">Export</button>
	</div>

	<table class="full-width" mat-table [dataSource]="dataSource" matSort>
		<!-- View Column -->
		<ng-container matColumnDef="view">
			<th id="column-view" mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let row">
				<a class="link-none view-link" [routerLink]="['/courses', courseId, 'assignments', assignmentId, 'assessments', 'view', row.id]">
					<button mat-stroked-button>{{ 'Action.View' | translate }}</button>
				</a>
			</td>
		</ng-container>

		<!-- For Column -->
		<ng-container matColumnDef="for">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Common.For' | translate }}</th>
			<td mat-cell *matCellDef="let row"> 
				<a *ngIf="row.groupId; else userId" class="link-none font-bold" [routerLink]="['/courses', courseId, 'groups', row.groupId]">{{row.group.name}}</a>
				<ng-template #userId>
					<a class="link-none font-bold" [routerLink]="['/courses', courseId, 'users', row.userId]">{{row.participant?.displayName ? row.participant.displayName : "?" }}</a>
				</ng-template>
			</td>
		</ng-container>

		<!-- AchievedPoints Column -->
		<ng-container matColumnDef="achievedPoints">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Property.Assessment.AchievedPoints' | translate }}</th>
			<td mat-cell *matCellDef="let row">{{ row.achievedPoints }}</td>
		</ng-container>

		<!-- Creator Column -->
		<ng-container matColumnDef="creator">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Property.Assessment.Creator' | translate }}</th>
			<td mat-cell *matCellDef="let row">{{ row.creator.displayName }}</td>
		</ng-container>

		<!-- CreationDate Column -->
		<ng-container matColumnDef="creationDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Common.CreationDate' | translate }}</th>
			<td mat-cell *matCellDef="let row">{{ row.creationDate | date:'medium' }}</td>
		</ng-container>

		<!-- LastUpdatedBy Column -->
		<ng-container matColumnDef="lastUpdatedBy">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Common.LastUpdatedBy' | translate }}</th>
			<td mat-cell *matCellDef="let row">{{ row.lastUpdatedBy?.displayName }}</td>
		</ng-container>

		<!-- UpdateDate Column -->
		<ng-container matColumnDef="updateDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Common.UpdateDate' | translate }}</th>
			<td mat-cell *matCellDef="let row">{{ (row.lastUpdatedBy ? row.updateDate : null) | date:'medium' }}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;">
		</tr>
	</table>

	<mat-paginator [pageSizeOptions]="[1000]"></mat-paginator>

</div>
