<div id="created-assessments-container">
	<div class="flex space-between">
		<a
			[routerLink]="[
				'/courses',
				courseId,
				'assignments',
				assignmentId,
				'assessments',
				'editor',
				'create'
			]"
		>
			<button
				#createAssessmentButton
				mat-flat-button
				color="accent"
				id="btn-create-assessment"
			>
				<mat-icon>add</mat-icon>{{ "Title.CreateAssessment" | translate }}
			</button>
		</a>

		<button mat-stroked-button (click)="download()">Export</button>
	</div>

	<mat-spinner class="spinner" color="accent" *ngIf="loading$ | async"></mat-spinner>

	<div class="chart" *ngIf="chartData">
		<app-vertical-bar-chart
			[data]="chartData"
			[options]="chartOptions"
			[xAxisLabel]="'Property.Assessment.AchievedPoints' | translate"
			[yAxisLabel]="'Common.Count' | translate"
		></app-vertical-bar-chart>
	</div>

	<div class="stat-cards" *ngIf="statistics">
		<div class="stat-card">
			<span class="category">{{ "Common.Lowest" | translate }}</span>
			<span class="value"
				>{{ statistics?.lowestScore }} {{ "Domain.Points" | translate }}</span
			>
		</div>

		<div class="stat-card">
			<span class="category">{{ "Common.Average" | translate }}</span>
			<span class="value"
				>{{ statistics?.averageScore | number: "1.0-2" }}
				{{ "Domain.Points" | translate }}</span
			>
		</div>

		<div class="stat-card">
			<span class="category">{{ "Common.Highest" | translate }}</span>
			<span class="value"
				>{{ statistics?.highestScore }} {{ "Domain.Points" | translate }}</span
			>
		</div>

		<div class="stat-card">
			<span class="category">{{ "Property.Assessment.HasPassed" | translate }}</span>
			<span class="value">{{ statistics?.countPassed }}</span>
		</div>
	</div>

	<h2>{{ "Domain.Assessments" | translate }} ({{ dataSource?.filteredData.length || 0 }})</h2>

	<div class="flex filter">
		<mat-form-field class="full-width">
			<mat-label>Filter</mat-label>
			<input matInput [(ngModel)]="dataSource.filter" />
		</mat-form-field>
	</div>

	<table class="full-width" mat-table [dataSource]="dataSource" matSort>
		<!-- View Column -->
		<ng-container matColumnDef="view">
			<th class="column-view" mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let row">
				<a
					class="link-none view-link"
					[routerLink]="[
						'/courses',
						courseId,
						'assignments',
						assignmentId,
						'assessments',
						'view',
						row.id
					]"
				>
					<button mat-stroked-button>{{ "Action.View" | translate }}</button>
				</a>
			</td>
		</ng-container>

		<ng-container matColumnDef="isDraft">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "Property.Assessment.IsDraft" | translate }}
			</th>
			<td mat-cell class="column-is-draft" *matCellDef="let row">
				<app-chip
					*ngIf="row.isDraft"
					icon="edit"
					color="orange"
					[matTooltip]="'Common.Yes' | translate"
				></app-chip>
			</td>
		</ng-container>

		<ng-container matColumnDef="hasPassed">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "Property.Assessment.HasPassed" | translate }}
			</th>
			<td mat-cell class="column-has-passed" *matCellDef="let row">
				<ng-container [ngSwitch]="row.hasPassed">
					<app-chip *ngSwitchCase="true" icon="thumb_up" color="#2fac6f"></app-chip>
					<app-chip *ngSwitchCase="false" icon="thumb_down" color="#ff0134"></app-chip>
					<app-chip *ngSwitchDefault icon="help" color="primary"></app-chip>
				</ng-container>
			</td>
		</ng-container>

		<!-- AchievedPoints Column -->
		<ng-container matColumnDef="achievedPoints">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "Property.Assessment.AchievedPoints" | translate }}
			</th>
			<td mat-cell *matCellDef="let row" class="column-achieved-points">
				{{ row.achievedPoints || "-" }}
				<span
					*ngIf="
						requiredPoints &&
						row.roundedPoints &&
						row.roundedPoints !== row.achievedPoints
					"
					class="text-light"
					>({{ row.roundedPoints }})</span
				>
			</td>
		</ng-container>

		<!-- For Column -->
		<ng-container matColumnDef="for">
			<th mat-header-cell class="column-for" *matHeaderCellDef>
				{{ "Common.For" | translate }}
			</th>
			<td mat-cell class="column-for" *matCellDef="let row">
				<div class="group-card" *ngIf="row.groupId; else userId">
					<a
						class="font-bold link-none"
						[routerLink]="['/courses', courseId, 'groups', row.groupId]"
						>{{ row.group.name }}</a
					>
					<div class="group-members">
						<span class="group-member-name" *ngFor="let member of row.group.members">
							{{ member.displayName }}
						</span>
					</div>
				</div>
				<ng-template #userId>
					<a
						class="font-bold link-none"
						[routerLink]="['/courses', courseId, 'users', row.userId]"
						>{{ row.participant?.displayName ? row.participant.displayName : "?" }}</a
					>
				</ng-template>
			</td>
		</ng-container>

		<!-- Creator Column -->
		<ng-container matColumnDef="creator.displayName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "Property.Assessment.Creator" | translate }}
			</th>
			<td mat-cell *matCellDef="let row">{{ row.creator.displayName }}</td>
		</ng-container>

		<!-- CreationDate Column -->
		<ng-container matColumnDef="creationDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "Common.CreationDate" | translate }}
			</th>
			<td mat-cell *matCellDef="let row">
				{{ row.creationDate | date: "dd.MM.yy (HH:MM)" }}
			</td>
		</ng-container>

		<!-- LastUpdatedBy Column -->
		<ng-container matColumnDef="lastUpdatedBy.displayName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "Common.LastUpdatedBy" | translate }}
			</th>
			<td mat-cell *matCellDef="let row">{{ row.lastUpdatedBy?.displayName || "-" }}</td>
		</ng-container>

		<!-- UpdateDate Column -->
		<ng-container matColumnDef="updateDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				{{ "Common.UpdateDate" | translate }}
			</th>
			<td mat-cell *matCellDef="let row">
				{{ row.lastUpdatedBy ? (row.updateDate | date: "dd.MM.yy (HH:MM)") : "-" }}
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
</div>
