h2 {
	margin-top: 16px;
	margin-bottom: -8px;
}

.success {
	background-color: #2fac6f !important;
}

.failure {
	background-color: #ff0134 !important;
}

.draft {
	background-color: orange !important;
}

.non-draft {
	background-color: rgb(34, 191, 202) !important;
}

.filter {
	margin-top: 16px;

	mat-form-field {
		width: 100%;
	}
}

.column-view {
	width: 96px;
	margin-right: 32px;
}

.view-link {
	padding-right: 32px;
}

.column-is-draft {
	width: 96px;
}

.column-has-passed {
	width: 48px;
}

.column-achieved-points {
	text-align: center;
	justify-content: center;
}

.chart {
	margin-top: 16px;
}

.stat-cards {
	margin-top: 16px;
	gap: 8px;
	display: flex;
	flex-wrap: wrap;
}

.stat-card {
	background-color: var(--card-bg);
	width: fit-content;
	border-radius: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	display: grid;

	.category {
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 4px;
	}

	.value {
		color: var(--text-light);
		justify-self: center;
	}
}

.group-card {
	background-color: var(--card-bg);
	padding: 8px 8px 8px 0px;
	display: flex;
	flex-direction: column;
}

.group-members {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	color: var(--text-light);
}
