<div class="page-container">
	<mat-card-title>
		<div>
			{{ "Action.Custom.CreateCourse" | translate }}
			<button
				class="btn-create"
				mat-raised-button
				color="accent"
				[disabled]="form.invalid"
				(click)="createCourse()"
			>
				{{ "Action.Create" | translate }}
			</button>
		</div>
		<button
			mat-raised-button
			color="primary"
			matTooltip="Opens the Search-Course-Dialog"
			(click)="openSearchCourseDialog()"
		>
			<student-mgmt-icon name="search"></student-mgmt-icon
			>{{ "Action.Custom.SelectCourseTemplate" | translate }}
		</button>
	</mat-card-title>

	<form id="course-creation-form" class="form-container" [formGroup]="form" autocomplete="off">
		<mat-tab-group color="accent" animationDuration="0ms">
			<mat-tab label="{{ 'Misc.BasicData' | translate }}" data-test="basicDataTab">
				<student-mgmt-course-form [form]="form"></student-mgmt-course-form>
			</mat-tab>

			<ng-container formGroupName="config">
				<mat-tab
					label="{{ 'Domain.GroupSettings' | translate }}"
					data-test="groupSettingsTab"
				>
					<student-mgmt-group-settings-form
						[form]="form"
					></student-mgmt-group-settings-form>
				</mat-tab>

				<mat-tab label="{{ 'Misc.Secrets' | translate }}" data-test="secretsTab">
					<div id="secrets">
						<mat-form-field>
							<mat-label>{{ "Common.Password" | translate }}</mat-label>
							<input matInput formControlName="password" />
							<mat-hint>{{ "Text.CourseConfig.Password" | translate }}</mat-hint>
						</mat-form-field>
					</div>
				</mat-tab>

				<mat-tab
					label="{{ 'Domain.AdmissionCriteria' | translate }}"
					data-test="admissionCriteriaTab"
				>
					<student-mgmt-admission-criteria-form
						[form]="form"
					></student-mgmt-admission-criteria-form>
				</mat-tab>

				<mat-tab
					label="{{ 'Domain.AssignmentTemplates' | translate }}"
					data-test="assignmentTemplatesTab"
				>
					<button
						type="button"
						id="btn-add-assignment-template"
						mat-flat-button
						color="accent"
						(click)="assignmentTemplatesForm.addAssignmentTemplate()"
					>
						<student-mgmt-icon name="add"></student-mgmt-icon
						>{{ "Action.Custom.AddAssignmentTemplate" | translate }}
					</button>
					<student-mgmt-assignment-templates-form
						[form]="form"
					></student-mgmt-assignment-templates-form>
				</mat-tab>
			</ng-container>

			<mat-tab
				class="tab"
				label="{{ 'Domain.Lecturers' | translate }}"
				data-test="lecturersTab"
			>
				<div id="lecturers" formArrayName="lecturers">
					<button
						type="button"
						id="btn-add-lecturer"
						mat-flat-button
						color="accent"
						(click)="addLecturer()"
					>
						<student-mgmt-icon name="add"></student-mgmt-icon
						>{{ "Action.Custom.AddLecturer" | translate }}
					</button>

					<mat-form-field
						*ngFor="let lecturer of getLecturers()?.controls; let i = index"
					>
						<mat-label>{{ "Domain.Lecturer" | translate }} #{{ i + 1 }}</mat-label>
						<input matInput [formControlName]="i" required />
						<mat-hint>{{ "Property.User.Username" | translate }}</mat-hint>
						<button
							matSuffix
							mat-icon-button
							matTooltip="{{ 'Action.Remove' | translate }}"
							(click)="removeLecturer(i)"
						>
							<student-mgmt-icon name="clear" class="icon-light"></student-mgmt-icon>
						</button>
					</mat-form-field>
				</div>
			</mat-tab>
		</mat-tab-group>
	</form>
</div>
