<ng-container *ngIf="courseFacade.course$ | async as course">
	<ng-container *ngIf="participant$ | async as participant">
		<div class="flex flex-col py-8" *ngIf="assignments$ | async as assignments">
			<div class="flex justify-between mb-8">
				<mat-card-title class="my-auto">{{
					"Domain.Assignments" | translate
				}}</mat-card-title>

				<a
					*ngIf="participant?.isTeachingStaffMember"
					[routerLink]="['/courses', courseId, 'new-assignment']"
				>
					<button mat-flat-button class="btn-add" color="accent">
						<student-mgmt-icon name="add"></student-mgmt-icon>
						{{ "Action.Custom.AddAssignment" | translate }}
					</button>
				</a>
			</div>

			<div class="flex gap-8">
				<div class="flex flex-col gap-8">
					<student-mgmt-assignments-by-state
						[course]="course"
						[participant]="participant"
						[assignments]="assignments.inProgress"
						[stateName]="'Enum.AssignmentState.IN_PROGRESS' | translate"
					>
					</student-mgmt-assignments-by-state>

					<mat-divider></mat-divider>

					<student-mgmt-assignments-by-state
						[course]="course"
						[participant]="participant"
						[assignments]="assignments.inReview"
						[stateName]="'Enum.AssignmentState.IN_REVIEW' | translate"
					>
					</student-mgmt-assignments-by-state>

					<mat-divider></mat-divider>

					<student-mgmt-assignments-by-state
						[course]="course"
						[participant]="participant"
						[assignments]="assignments.evaluated"
						[stateName]="'Enum.AssignmentState.EVALUATED' | translate"
					>
					</student-mgmt-assignments-by-state>

					<mat-divider></mat-divider>

					<student-mgmt-assignments-by-state
						[course]="course"
						[participant]="participant"
						[assignments]="assignments.closed"
						[stateName]="'Enum.AssignmentState.CLOSED' | translate"
					>
					</student-mgmt-assignments-by-state>
					<mat-divider></mat-divider>

					<student-mgmt-assignments-by-state
						*ngIf="participant?.isTeachingStaffMember"
						[course]="course"
						[participant]="participant"
						[assignments]="assignments.invisible"
						[stateName]="'Enum.AssignmentState.INVISIBLE' | translate"
					>
					</student-mgmt-assignments-by-state>
				</div>

				<student-mgmt-participant-admission-status-container
					class="mt-10"
					*ngIf="participant.isStudent"
				></student-mgmt-participant-admission-status-container>
			</div>
		</div>
	</ng-container>
</ng-container>
