#assignment-template-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	column-gap: 32px;
	row-gap: 32px;
	margin-top: 8px;
}

.assignment-template {
	display: flex;
	flex-direction: column;

	.left {
		font-size: 18px;
	}

	.assignment-template-title {
		margin-top: -16px;
		margin-bottom: -8px;
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

#assignment-templates {
	display: flex;
	flex-direction: column;
	padding-bottom: 4px;

	mat-form-field {
		width: 100%
	}
}

#btn-add-assignment-template {
	margin-top: 8px;
	margin-bottom: 8px;
	width: fit-content;
}
