<ng-container [formGroup]="form">
	<ng-container formGroupName="config">
		<div id="assignment-templates" formArrayName="assignmentTemplates">
			<div id="assignment-template-grid">
				<mat-card
					class="assignment-template mat-elevation-z8"
					*ngFor="let template of getAssignmentTemplates().controls; let i = index"
					[formGroupName]="i"
				>
					<h2 class="card-title">
						{{ getAssignmentTemplateName(i) }}
						<button
							mat-icon-button
							matTooltip="Remove"
							(click)="removeAssignmentTemplate(i)"
						>
							<mat-icon>clear</mat-icon>
						</button>
					</h2>

					<mat-form-field>
						<mat-label>{{
							"Property.AssignmentTemplate.TemplateName" | translate
						}}</mat-label>
						<input matInput formControlName="templateName" required />
						<mat-hint>The name of the template.</mat-hint>
						<mat-error>Value is missing.</mat-error>
					</mat-form-field>

					<mat-form-field>
						<mat-label>{{
							"Property.AssignmentTemplate.TitleSchema" | translate
						}}</mat-label>
						<input matInput formControlName="name" />
						<mat-hint>Example: " Exercise sheet Nr.# "</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<mat-label>{{ "Property.AssignmentTemplate.State" | translate }}</mat-label>
						<mat-select formControlName="state">
							<mat-option [value]="stateEnum.INPROGRESS">{{
								"Enum.AssignmentState." + stateEnum.INPROGRESS | translate
							}}</mat-option>
							<mat-option [value]="stateEnum.CLOSED">{{
								"Enum.AssignmentState." + stateEnum.CLOSED | translate
							}}</mat-option>
							<mat-option [value]="stateEnum.INVISIBLE">{{
								"Enum.AssignmentState." + stateEnum.INVISIBLE | translate
							}}</mat-option>
							<mat-option [value]="stateEnum.INREVIEW">{{
								"Enum.AssignmentState." + stateEnum.INREVIEW | translate
							}}</mat-option>
							<mat-option [value]="stateEnum.EVALUATED">{{
								"Enum.AssignmentState." + stateEnum.EVALUATED | translate
							}}</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<mat-label>{{ "Property.Assignment.Type" | translate }}</mat-label>
						<mat-select formControlName="type">
							<mat-option [value]="typeEnum.HOMEWORK">{{
								"Enum.AssignmentType." + typeEnum.HOMEWORK | translate
							}}</mat-option>
							<mat-option [value]="typeEnum.TESTAT">{{
								"Enum.AssignmentType." + typeEnum.TESTAT | translate
							}}</mat-option>
							<mat-option [value]="typeEnum.PROJECT">{{
								"Enum.AssignmentType." + typeEnum.PROJECT | translate
							}}</mat-option>
							<mat-option [value]="typeEnum.SEMINAR">{{
								"Enum.AssignmentType." + typeEnum.SEMINAR | translate
							}}</mat-option>
							<mat-option [value]="typeEnum.OTHER">{{
								"Enum.AssignmentType." + typeEnum.OTHER | translate
							}}</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<mat-label>{{ "Property.Assignment.Collaboration" | translate }}</mat-label>
						<mat-select formControlName="collaboration">
							<mat-option [value]="collaborationEnum.SINGLE">{{
								"Enum.Collaboration." + collaborationEnum.SINGLE | translate
							}}</mat-option>
							<mat-option [value]="collaborationEnum.GROUP">{{
								"Enum.Collaboration." + collaborationEnum.GROUP | translate
							}}</mat-option>
							<mat-option [value]="collaborationEnum.GROUPORSINGLE">{{
								"Enum.Collaboration." + collaborationEnum.GROUPORSINGLE | translate
							}}</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<mat-label>{{ "Property.Assignment.Points" | translate }}</mat-label>
						<input matInput type="number" formControlName="points" />
					</mat-form-field>

					<mat-form-field>
						<mat-label>{{ "Property.Assignment.BonusPoints" | translate }}</mat-label>
						<input matInput type="number" formControlName="bonusPoints" />
					</mat-form-field>

					<mat-form-field>
						<mat-label>{{
							"Property.AssignmentTemplate.Timespan" | translate
						}}</mat-label>
						<input matInput type="number" formControlName="timespanDays" />
						<mat-hint>The time between start and end date in days.</mat-hint>
					</mat-form-field>
				</mat-card>
			</div>
		</div>
	</ng-container>
</ng-container>
