<!-- TOP BAR -->
<mat-toolbar class="titlebar">
	<div id="nav-left">
		<button mat-icon-button type="button" (click)="drawer.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<img id="logo" src="./assets/img/uni-logo.png">
		Student-Management
	</div>
	<div id="nav-right">

		<ng-container [ngSwitch]="isLoggedIn()">
			<button *ngSwitchCase="false" class="btn-link" mat-flat-button (click)="openLoginDialog()">Login</button>
			<ng-container *ngSwitchCase="true">
				<button class="btn-link" mat-flat-button>{{getUsername()}}</button>
				<button class="btn-link" mat-flat-button (click)="logout()">Logout</button>
			</ng-container>
		</ng-container>
		
		<mat-menu #appMenu="matMenu">
			<div id="appMenu-container">
				<a [routerLink]="['/', getUserId()]"><button class="btn-link" mat-flat-button><mat-icon>account_circle</mat-icon> My account</button></a>		
				<button mat-menu-item [matMenuTriggerFor]="langMenu">Language</button>
				<mat-menu #langMenu="matMenu">
					<button mat-menu-item (click)="setLanguage('en')">English</button>
					<button mat-menu-item (click)="setLanguage('de')">Deutsch</button>
				</mat-menu>
			</div>
		</mat-menu>
		  
		  <button mat-icon-button [matMenuTriggerFor]="appMenu">
			<mat-icon>more_vert</mat-icon>
		  </button>
	</div>
</mat-toolbar>

<!-- SIDE MENU -->
<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport 
	[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" 
	[opened]="(isHandset$ | async) === false" 
	[mode]="(isHandset$ | async) ? 'over' : 'side'">

		<mat-nav-list>
			<div id="sidenav-links">
				<a mat-list-item [routerLink]="['/']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
					<mat-icon>home</mat-icon>Home
				</a>

				<a mat-list-item [routerLink]="['/courses']" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}">
					<mat-icon>school</mat-icon>Courses
				</a>

				<div id="course-membership-list" *ngIf="isLoggedIn()">
					<mat-divider></mat-divider>
					<span id="my-courses">MY COURSES</span>

					<div *ngFor="let course of courseMemberships.courses$ | async">
						<a mat-list-item [routerLink]="['/courses', course.semester, course.shortname]" routerLinkActive="router-link-active" (click)="navigateToCourse(course)">
							<mat-icon>lens</mat-icon>{{course.id}}
						</a>
					</div>				
				</div>
			</div>

			<div id="sidenav-footer">
				<mat-divider></mat-divider>

				<a mat-list-item [routerLink]="['/privacy']" routerLinkActive="router-link-active">
					<mat-icon>security</mat-icon>Privacy
				</a>
	
				<a mat-list-item [routerLink]="['/imprint']" routerLinkActive="router-link-active">
					<mat-icon>info</mat-icon>Imprint
				</a>
			</div>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<!-- Add Content Here -->
		<div class="background-container">
			<div class="content-container">
				<router-outlet></router-outlet>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
