<div [class]="theme.theme$ | async" *ngIf="{ user: user$ | async } as obs">
	<!-- TOP BAR -->
	<mat-toolbar class="titlebar">
		<div id="nav-left">
			<button mat-icon-button type="button" (click)="drawer.toggle()">
				<app-icon name="menu" class="text"></app-icon>
			</button>
			<svg
				id="logo"
				width="48"
				height="48"
				viewBox="-2.17491372 -2.17491372 76.99035344 76.84695144"
			>
				<path
					d="M 18.269274,20.145 L 18.269274,41.98875 L 39.599274,29.63375 L 39.599274,20.14625 L 31.249274,20.145 L 31.249274,29.53875 L 26.555524,32.3325 L 26.556774,20.14625 L 18.269274,20.145 M 18.579274,44.8825 L 18.579274,54.4275 L 26.610524,54.4275 L 26.610524,45.06 L 52.839274,29.635 L 52.839274,20.1475 L 44.418024,20.1475 L 44.419274,29.5175 L 18.579274,44.8825 M 52.839274,54.4275 L 52.839274,32.3625 L 31.480524,44.8825 L 31.480524,54.4275 L 39.599274,54.4275 L 39.599274,45.00875 L 44.294274,42.215 L 44.293024,54.4275 L 52.839274,54.4275"
				/>
			</svg>
			<span id="app-name">{{ "Title.AppName" | translate }}</span>
		</div>
		<div id="nav-right">
			<ng-container *ngIf="obs.user; else loginBtn">
				<button class="btn-link" mat-button>{{ obs.user.displayName }}</button>
				<button class="btn-link btn-logout" mat-button (click)="logout()">Logout</button>
			</ng-container>

			<ng-template #loginBtn>
				<button class="btn-link" mat-button (click)="openLoginDialog()">Login</button>
			</ng-template>

			<mat-menu #appMenu="matMenu">
				<div id="appMenu-container">
					<button mat-menu-item [matMenuTriggerFor]="langMenu">
						{{ "Misc.Language" | translate }}
					</button>
					<mat-menu #langMenu="matMenu">
						<button mat-menu-item (click)="setLanguage('en')">English</button>
						<button mat-menu-item (click)="setLanguage('de')">Deutsch</button>
					</mat-menu>

					<button mat-menu-item [matMenuTriggerFor]="themeMenu">Theme</button>
					<mat-menu #themeMenu="matMenu">
						<button
							mat-menu-item
							*ngFor="let t of theme.availableThemes"
							(click)="theme.setTheme(t.cssClass)"
						>
							{{ t.name }}
						</button>
					</mat-menu>

					<a routerLink="/user/settings" class="link-none" *ngIf="obs.user">
						<button mat-menu-item>
							{{ "Misc.Settings" | translate }}
						</button>
					</a>

					<button mat-menu-item (click)="copyJwtToClipboard()" *ngIf="_isDevelopmentEnv">
						Copy JWT to clipboard
					</button>
				</div>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="appMenu">
				<app-icon name="more_vert" class="text"></app-icon>
			</button>
		</div>
	</mat-toolbar>

	<!-- SIDE MENU -->
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav
			#drawer
			class="sidenav"
			fixedInViewport
			[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
			[opened]="(isHandset$ | async) === false"
			[mode]="(isHandset$ | async) ? 'over' : 'side'"
		>
			<mat-nav-list class="sidenav-sections">
				<div id="sidenav-links">
					<a
						mat-list-item
						[routerLink]="['/']"
						routerLinkActive="router-link-active"
						[routerLinkActiveOptions]="{ exact: true }"
					>
						<app-icon name="home"></app-icon>{{ "Misc.Home" | translate }}
					</a>

					<a
						mat-list-item
						[routerLink]="['/admin/user-management']"
						routerLinkActive="router-link-active"
						*ngIf="
							obs?.user?.role === 'MGMT_ADMIN' || obs?.user?.role === 'SYSTEM_ADMIN'
						"
					>
						<app-icon name="supervisor_account"></app-icon
						>{{ "Title.UserManagement" | translate }}
					</a>

					<a
						mat-list-item
						[routerLink]="['/courses']"
						routerLinkActive="router-link-active"
						[routerLinkActiveOptions]="{ exact: true }"
					>
						<app-icon name="school"></app-icon>{{ "Domain.Courses" | translate }}
					</a>

					<div class="course-membership-list" *ngIf="obs.user">
						<mat-divider></mat-divider>
						<span id="my-courses"
							>{{ "Common.My" | translate | uppercase }}
							{{ "Domain.Courses" | translate | uppercase }}</span
						>

						<div *ngFor="let course of obs.user.courses">
							<a
								mat-list-item
								[routerLink]="['/courses', course.id]"
								routerLinkActive="router-link-active"
								data-test="sidebar-course-link"
							>
								<app-icon name="lens" size="10"></app-icon>{{ course.id }}
							</a>
						</div>
					</div>
				</div>

				<div id="sidenav-footer">
					<mat-divider></mat-divider>
					<a
						mat-list-item
						[routerLink]="['/login']"
						routerLinkActive="router-link-active"
						*ngIf="_isDevelopmentEnv"
					>
						<app-icon name="code"></app-icon>Developer-Login
					</a>

					<a mat-list-item href="https://www.uni-hildesheim.de/datenschutz">
						<app-icon name="security"></app-icon>{{ "Misc.Privacy" | translate }}
					</a>

					<a mat-list-item href=" https://www.uni-hildesheim.de/impressum">
						<app-icon name="info"></app-icon>{{ "Misc.Imprint" | translate }}
					</a>
				</div>
			</mat-nav-list>
		</mat-sidenav>

		<mat-sidenav-content>
			<!-- Add Content Here -->
			<div class="background-container">
				<div class="titlebar-padding">
					<router-outlet></router-outlet>
				</div>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
