.chip {
	background-color: var(--accent);
	color: white;
	padding: 6px 8px 6px 8px;
	font-size: 13px;
	display: flex;
	gap: 8px;
	border-radius: 4px;
	width: fit-content;
	height: 16px;
	align-content: center;
	align-items: center;

	.text {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	app-icon:empty,
	span:empty {
		display: none;
	}

	app-icon {
		position: relative;
		font-size: 20px;
		margin-right: -4px;
	}
}
