@import "./custom-theme.scss";

/* You can add global styles to this file, and also import other style files */

:root {
	--titlebar-height: 56px;
	--margin-default: 8px;
	--margin-content: 128px;

	--color-bg: #f1f1f1;
	--color-titlebar: white;
	--color-sidenav: white;
	--color-header: #f9f9f9;

	--card-bg: white;
	--table-bg: transparent;

	--grey-light: rgb(230, 230, 230);
	--grey-normal: rgb(255, 255, 255);
	--grey-dark: rgb(41, 41, 41);

	--text: black;
	--text-inverse: white;
	--text-light: rgba(0, 0, 0, 0.6);

	--link-active: red;
	--link-active-bg: rgba(0, 0, 0, 0.1);

	--primary: map-get($student-mgmt-client-primary, 600);
	--accent: map-get($student-mgmt-client-accent, 900);
	--warn: map-get($student-mgmt-client-warn);

	@media (max-width: 799px) {
		--margin-content: 8px;
		--margin-default: 8px;
	}
	@media (min-width: 800px) {
		--margin-content: 64px;
		--margin-default: 16px;
	}
	@media (min-width: 1500px) {
		--margin-content: 128px;
		--margin-default: 32px;
	}
}

.default-theme {
	height: 100%;
	--grey-light: rgb(230, 230, 230);
	--grey-normal: rgb(255, 255, 255);
	--grey-dark: rgb(41, 41, 41);

	--color-bg: #f1f1f1;
	--color-titlebar: white;
	--color-sidenav: white;
	--color-header: #f9f9f9;

	--table-bg: white;

	--text: black;
	--text-inverse: white;
	--text-light: rgba(0, 0, 0, 0.6);

	--link-active: red;
	--link-active-bg: rgba(0, 0, 0, 0.1);
}

.dark-theme {
	height: 100%;
	--color-bg: rgb(15, 15, 15);
	--color-titlebar: #202020;
	--color-sidenav: #212121;
	--color-header: rgb(24, 24, 24);

	--card-bg: rgb(41, 41, 41);
	--table-bg: #292929;

	--text: white;
	--text-inverse: black;
	--text-light: rgba(255, 255, 255, 0.5);

	--link-active: white;
	--link-active-bg: rgba(255, 255, 255, 0.1);
}

.blue-theme {
	height: 100%;
	--color-bg: #0f1724;
	--color-titlebar: #212c3d;
	--color-sidenav: #1d2636;
	--color-header: #1f293a;

	--card-bg: #1d2636;
	--table-bg: #1f293a;

	--text: #92abcf;
	--text-inverse: black;
	--text-light: #92abcfe7;

	--link-active: white;
	--link-active-bg: rgba(255, 255, 255, 0.1);
}

.twitch-theme {
	height: 100%;
	--color-bg: #0e0e10;
	--color-titlebar: #18181b;
	--color-sidenav: #1f1f23;
	--color-header: #18181b;

	--card-bg: #18181b;
	--table-bg: #18181b;

	--text: white;
	--text-inverse: #654597;
	--text-light: #adadb8;

	--link-active: #8e24aa;
	--link-active-bg: #26262c;
}

.green-theme {
	height: 100%;
	--link-active: green;
}

// Roboto
// https://www.mittwald.de/blog/mittwald/howtos/dem-datenschutz-zuliebe-wie-ihr-google-fonts-lokal-in-eure-webseiten-einbindet#Notwendig-dank-der-DSGVO--Google-Fonts-sollten-lokal-eingebunden-werden
// https://google-webfonts-helper.herokuapp.com/fonts

/* roboto-300 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"),
		url("assets/fonts/roboto-v20-latin-300.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("assets/fonts/roboto-v20-latin-300.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"),
		url("assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("assets/fonts/roboto-v20-latin-regular.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"),
		url("assets/fonts/roboto-v20-latin-500.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("assets/fonts/roboto-v20-latin-500.woff")
			format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Material Icons
@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: local("Material Icons"), local("MaterialIcons-Regular"),
		url("assets/fonts/MaterialIcons-Regular.woff2") format("woff2"),
		url("assets/fonts/MaterialIcons-Regular.woff") format("woff"),
		url("assets/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	margin-top: var(--titlebar-height); // Start below Titlebar
	background-color: var(--color-header);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--text-light);
}

// Remove arrows of number-input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.titlebar-padding {
	padding-top: calc(var(--titlebar-height));
}

.content-container {
	padding-left: var(--margin-default);
	padding-right: var(--margin-default);
	padding-bottom: var(--margin-default);
}

.content-padding {
	padding-left: var(--margin-content);
	padding-right: var(--margin-content);
}

.background-container {
	background-color: var(--color-bg);
	width: 100%;
	min-height: 100%;
	max-height: max-content;
}

.dialog-container {
	display: flexbox;
	min-width: 300px;
}

.form-container {
	display: flex;
	flex-direction: column;
}

.button-container {
	display: flex;
	justify-content: space-evenly;
}

.radio-group-container {
	display: flex;
	flex-direction: column;
}

.radio-group {
	display: flex;
	flex-direction: column;
	mat-radio-button {
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

.grid-left-right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 16px;
}

.radio-group-label {
	font-weight: 500;
}

.tab {
	padding-top: 8px;
	padding-bottom: 8px;
}

.card-title {
	align-items: center !important;
	display: flex !important;
	justify-content: space-between !important;
}

mat-card {
	background-color: var(--card-bg) !important;
}

table,
mat-paginator {
	background-color: var(--table-bg) !important;
}

.mat-menu-panel,
.mat-dialog-container,
.mat-select-panel {
	background-color: var(--card-bg) !important;
}

.mat-tab-label-active {
	opacity: 1 !important;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.link-none {
	text-decoration: none;
	color: inherit;
}

.link-bold {
	text-decoration: none;
	color: inherit;
	font-weight: 500;
}

.font-bold {
	font-weight: 500;
}

.preformatted {
	white-space: pre-wrap;
	text-align: justify;
	font-family: inherit;
}

.text-justify {
	text-align: justify;
}

.icon-light {
	color: var(--text-light);
}

.text-light {
	color: var(--text-light);
}

.table-bg {
	background-color: var(--table-bg) !important;
}

.bg-transparent {
	background-color: transparent !important;
}

.text-red {
	color: red;
}

.text-green {
	color: green;
}

.uppercase {
	text-transform: uppercase;
}

.snackbar-success {
	background-color: rgb(211, 255, 200) !important;

	.mat-simple-snackbar {
		color: rgb(0, 71, 24) !important;
	}
	.mat-button-wrapper {
		color: rgb(0, 71, 24) !important;
	}
}

.snackbar-error {
	background-color: rgb(255, 0, 0) !important;

	.mat-simple-snackbar {
		color: rgb(255, 255, 255) !important;
	}
	.mat-button-wrapper {
		color: rgb(255, 255, 255) !important;
	}
}

mat-form-field.mat-form-field-should-float label {
	font-size: 16px;
}

mat-form-field .mat-hint {
	font-size: 12px;
}

.mat-button-focus-overlay {
	background-color: transparent !important;
}

// Used to display button in mat-tab-group
app-edit-course .mat-tab-labels :last-child.mat-tab-label {
	min-width: 0;
	padding: 0 12px;
	color: unset;
	opacity: unset;
}

.toast-container .ngx-toastr {
	box-shadow: 0 0 12px var(--text-light) !important;
}

.INFORMATIONAL {
	font-weight: 500;
	color: rgb(0, 130, 173);
}
.WARNING {
	font-weight: 500;
	color: rgb(211, 165, 38);
}
.ERROR {
	font-weight: 500;
	color: rgb(206, 134, 0);
}
.CRITICAL {
	font-weight: 500;
	color: red;
}

.bg-titlebar {
	background-color: var(--color-titlebar);
}

.mat-form-field-flex {
	background-color: var(--card-bg) !important;
}
