<div *ngIf="canJoinDto" class="dialog-container" data-test="join-course-dialog">
	<mat-card-title matDialogTitle
		>{{ 'Title.JoinCourse' | translate }}: {{courseId}}</mat-card-title
	>

	<div matDialogContent class="dialog-content">
		<ng-container *ngIf="canJoinDto.canJoin">
			<mat-form-field *ngIf="canJoinDto.requiresPassword; else noPwRequiredText">
				<mat-label>{{ 'Common.Password' | translate }}</mat-label>
				<input matInput type="password" [(ngModel)]="password" (keydown.enter)="onJoin()" />
			</mat-form-field>

			<ng-template #noPwRequiredText>
				<p>{{ 'Misc.NoPasswordRequired' | translate }}.</p>
			</ng-template>
		</ng-container>

		<mat-error *ngIf="error" data-test="join-course-error">{{ error | translate }}</mat-error>
	</div>

	<div matDialogActions class="dialog-actions">
		<button
			class="btn-join"
			*ngIf="canJoinDto.canJoin"
			mat-raised-button
			color="accent"
			(click)="onJoin()"
		>
			{{ 'Action.Join' | translate }}
		</button>
		<button class="btn-cancel" mat-button (click)="onCancel()">
			{{ 'Action.Cancel' | translate }}
		</button>
	</div>
</div>
