#search-participants-dialog {
	display: flex;
	flex-direction: column;
	width: 600px;
}

.dialog-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.filter {
	display: grid;
	grid-template-columns: 75% 1fr;
}

.roles {
	margin-left: auto;
	margin-right: 0;
	padding-right: 32px;

	mat-label {
		margin-bottom: 4px;
	}

	mat-checkbox {
		padding-left: 4px;
		padding-top: 2px;
	}

	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}

.username-column {
	width: 128px;
}

.column-role {
	width: 96px;
}
