<mat-card *ngIf="course">
	<mat-card-title>{{course.title}}</mat-card-title>

	<mat-tab-group color="accent" animationDuration="0ms" [selectedIndex]="selectedTab" (selectedIndexChange)="handleTabChange($event)">

		<mat-tab label="Assignments">
			<ng-template matTabContent>
				<app-assignment-list [courseId]="course.id" [assignments]="course.assignments"></app-assignment-list>
			</ng-template>
		</mat-tab>

		<mat-tab label="Groups">
			<ng-template matTabContent>
				<app-group-list [courseId]="course.id"></app-group-list>
			</ng-template>
		</mat-tab>

		<mat-tab label="Users">
			<ng-template matTabContent>
				<app-user-list [courseId]="course.id"></app-user-list>
			</ng-template>
		</mat-tab>

	</mat-tab-group>

</mat-card>
