<div class="mt-4" *ngIf="about$ | async as about">
	<student-mgmt-card>
		<ng-container title>{{ about.course.title }}</ng-container>
		<ng-container subtitle>{{ about.course.id }}</ng-container>
		<ng-container content>
			<div class="flex flex-col gap-4">
				<div class="links" *ngIf="about.course.links?.length > 0">
					<a
						class="font-bold text-red-500"
						*ngFor="let link of about.course.links"
						[href]="link.url"
						>#{{ link.name }}</a
					>
				</div>

				<span>
					<span class="font-bold">{{ "Domain.Participants" | translate }}: </span>
					<span class="text-light">{{ about.participantsCount }}</span>
				</span>

				<div class="grid gap-2">
					<span class="font-bold">{{ "Domain.TeachingStaff" | translate }}:</span>

					<span class="flex gap-2" *ngFor="let member of about.teachingStaff">
						<span>{{ member.displayName }}</span>
						<student-mgmt-course-role-chip
							[role]="member.role"
						></student-mgmt-course-role-chip>
					</span>
				</div>
			</div>
		</ng-container>
	</student-mgmt-card>
</div>
