<form id="assessment-form" [formGroup]="form" autocomplete="off">
	<mat-card class="overall-card">
		<span id="points-container">
			<mat-label class="font-bold"
				>{{ "Property.Assessment.AchievedPoints" | translate }}*:</mat-label
			>
			<div>
				<mat-form-field id="achieved-points">
					<input
						matInput
						mat-form
						type="number"
						formControlName="achievedPoints"
						required
					/>
				</mat-form-field>
				<span>
					/ {{ assignment?.points }}
					<ng-container *ngIf="assignment?.bonusPoints"
						>({{ assignment.bonusPoints }}
						{{ "Property.Assignment.BonusPoints" | translate }})</ng-container
					>
				</span>
			</div>
		</span>
		<ng-container *ngIf="getErrors()">
			<mat-error *ngFor="let error of getErrors()">
				{{ error | translate }}
			</mat-error>
		</ng-container>

		<mat-form-field appearance="outline">
			<mat-label>{{ "Property.Assessment.Comment" | translate }}</mat-label>
			<textarea rows="5" matInput class="full-width" formControlName="comment"></textarea>
		</mat-form-field>
	</mat-card>

	<div
		id="partial-assessments"
		formArrayName="partialAssessments"
		*ngFor="let partial of getPartialAssessments()?.controls; let i = index"
	>
		<mat-card class="partial-assessment-form" [formGroup]="getPartialAssessment(i)">
			<span class="title-points-severity-span">
				<mat-form-field>
					<mat-label>{{ "Property.PartialAssessment.Title" | translate }}</mat-label>
					<input matInput formControlName="title" required />
					<mat-error>{{ "Error.ValueMissing" | translate }}</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label>{{ "Property.PartialAssessment.Points" | translate }}</mat-label>
					<input class="points-input" matInput type="number" formControlName="points" />
				</mat-form-field>

				<mat-form-field>
					<mat-select
						class="severity-select"
						formControlName="severity"
						placeholder="{{ 'Property.PartialAssessment.Severity' | translate }}"
					>
						<mat-select-trigger
							class="selected-severity"
							[class]="partial.value.severity"
						>
							{{ "Enum.Severity." + partial.value.severity | translate }}
						</mat-select-trigger>

						<mat-option [value]="null">-</mat-option>
						<mat-option
							[class]="severityEnum.INFORMATIONAL"
							[value]="severityEnum.INFORMATIONAL"
						>
							{{ "Enum.Severity." + severityEnum.INFORMATIONAL | translate }}
						</mat-option>
						<mat-option [class]="severityEnum.WARNING" [value]="severityEnum.WARNING">
							{{ "Enum.Severity." + severityEnum.WARNING | translate }}
						</mat-option>
						<mat-option [class]="severityEnum.ERROR" [value]="severityEnum.ERROR">
							{{ "Enum.Severity." + severityEnum.ERROR | translate }}
						</mat-option>
						<mat-option [class]="severityEnum.CRITICAL" [value]="severityEnum.CRITICAL">
							{{ "Enum.Severity." + severityEnum.CRITICAL | translate }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<button
					type="button"
					mat-icon-button
					[matTooltip]="'Action.Remove' | translate"
					(click)="removePartialAssessment(i)"
				>
					<mat-icon class="text-red">clear</mat-icon>
				</button>
			</span>

			<mat-form-field appearance="outline">
				<mat-label>{{ "Property.PartialAssessment.Comment" | translate }}</mat-label>
				<textarea rows="5" matInput class="full-width" formControlName="comment"></textarea>
			</mat-form-field>
		</mat-card>
	</div>

	<button
		type="button"
		mat-flat-button
		class="btn-add-partial-assessment"
		color="primary"
		(click)="addPartialAssessment()"
	>
		{{ "Action.Custom.AddPartialAssessment" | translate }}
	</button>
</form>
