#assessment-form {
	display: flex;
	flex-direction: column;

	mat-form-field {
		width: 100%;
	}
}

mat-card {
	padding-bottom: 0px !important;
}

.btn-add-partial-assessment {
	width: fit-content;
}

.overall-card {
	margin-bottom: 16px;
}

.partial-assessment-form {
	margin-bottom: 16px;
}

#points-container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	#achieved-points {
		width: 48px;
		margin-left: 4px;
		margin-right: 4px;
		input {
			text-align: right;
		}
	}
}

.points-input {
	text-align: center;
}

.title-points-severity-span {
	display: grid;
	column-gap: 8px;
	grid-template-columns: auto 96px 106px 32px;

	button {
		align-self: center;
		margin-top: 6px;
	}
}

.no-break {
	width: max-content;
}

.severity-select {
	text-align: center;
}
