#points-container {
	margin-top: -16px;

	mat-form-field {
		width: 96px;
	}
}

.comment-field {
	margin-bottom: -22px;
}

.partial-assessment-form {
	background-color: var(--card-bg);
	border-radius: 4px;
	padding: 16px;
	display: grid;
}

.markers-outer {
	padding: 16px;
	background-color: var(--color-bg);
	border-radius: 4px;
}

.markers {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.marker-actions {
	justify-content: flex-end;
}

.btn-remove-partial {
	margin-left: auto;
	margin-right: 0;
}
