#points-container {
	margin-top: -16px;

	mat-form-field {
		width: 96px;
	}
}

.comment-field {
	margin-bottom: -22px;
}

.partial-assessment-form {
	background-color: var(--card-bg);
	border-radius: 4px;
	padding: 16px;
	display: grid;
}

.markers-outer {
	padding: 16px;
	background-color: var(--color-bg);
	border-radius: 4px;
}

.marker-buttons {
	button {
		height: fit-content;
		padding-left: 8px;
		padding-right: 8px;
	}
}

.markers {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.marker-actions {
	justify-content: flex-end;
	margin-bottom: -40px;
}

.btn-remove-partial {
	margin-left: auto;
	margin-right: 0;
}

.btn-info {
	background-color: #0d9fcf;
	color: white;
}

.btn-hint {
	background-color: #2ea569;
	color: white;
}

.btn-warning {
	background-color: #daa000;
	color: white;
}

.btn-error {
	background-color: #ff0000;
	color: white;
}
